<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors" renderTag="ognl:beans.delegate.hasErrors" class="errorMessage">
	<span jwcid="errors">
		<li jwcid="isInError">
			<span jwcid="error"/>
		</li>
	</span>
</ul>