<html t:type="layout" title="${message:page-title}"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      xmlns:p="tapestry:parameter">
      
       <h1>${message:page-title}</h1>
       
       <t:grid t:source="hostsWhitelistGridDataSource" t:exclude="id" t:add="edit,delete" rowsPerPage="10" cellpadding="0" cellspacing="0" row="hostWhitelistbean" pagerPosition="bottom">
       	  <p:editHeader>
	      </p:editHeader>
	      <p:editCell>
	      	<a t:type="pagelink" t:page="AddWhitelistHost" context="hostWhitelistbean.id">${message:edit}</a>
	      </p:editCell>
	      <p:deleteHeader>
	      </p:deleteHeader>
	      <p:deleteCell>
	      	<t:actionlink t:id="deleteMessage" context="hostWhitelistbean.id" t:mixins="confirm" t:message="${getConfirmMessage()}">${message:remove}</t:actionlink>
	      </p:deleteCell>
       </t:grid>
       <br/>
       <t:pagelink t:page="AddWhitelistHost">${message:add-new-host}</t:pagelink>
</html>