<html t:type="layout" title="${message:page-title}"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      xmlns:p="tapestry:parameter">
      
       <h1>${message:page-title}</h1>
       
       <t:beanEditForm t:id="depositForm" t:add="info,balance" t:include="transactionAmount,type,userAccount,referenceNo,comment" reorder="info,balance" object="deposit" cancel="true">
        <p:info>
        	<label>${message:user}</label>
        	<t:userLink userId="userId" />
        </p:info>
        <p:balance>
        	<label>${message:current-balance}</label>
        	${formatCurrency(balance)}
        </p:balance>
        <p:transactionAmount>
        	<label>${message:amount}</label>
        	<t:textfield value="deposit.transactionAmount" t:validate="required" />
        </p:transactionAmount>
       	<p:comment>
       		<label>${message:comment}</label>
       		<t:textarea value="deposit.comment" rows="10" cols="50"/>	
       	</p:comment>
       	<p:type>
       		<label>${message:method}</label>
       		<t:select value="paymentType" model="paymentTypeSelectModel" t:encoder="paymentTypeEncoder" blankOption="ALWAYS" blankLabel="${message:please-select}" t:validate="required"/>
       	</p:type>
       </t:beanEditForm>
</html>