<html t:type="layout" title="${message:page-title}"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      xmlns:p="tapestry:parameter">
      
    <h1>${message:page-title}</h1>
       
	<t:form t:id="reportLogForm">
        <t:errors/>
        <div class="t-beaneditor-row">
        	<t:label for="username" />
        	<input t:type="textfield" t:id="username" t:value="username" t:mixins="autocomplete" t:minChars="3" />
        </div>
        
        <div class="t-beaneditor-row">
        	<t:label for="ipAddress" />
        	<input t:type="textfield" t:id="ipAddress" t:value="ipAddress" />
        </div>
        
        <div class="t-beaneditor-row">
        	<t:label for="fromDate" />
        	<t:dateTimeField t:id="fromDate" class="datepicker" t:value="fromDate" t:timePicker="true" t:datePattern="dd/MM/yyyy HH:mm" />
        </div>

         <div class="t-beaneditor-row">
        	<t:label for="toDate" />
        	<t:dateTimeField t:id="toDate" class="datepicker" t:value="toDate" t:timePicker="true" />
        </div>
        
        <div class="t-beaneditor-row">
        	<t:label for="application" />
        	<t:select t:id="application" value="application" model="applicationSelectModel" blankOption="ALWAYS" blankLabel="All"/>
        </div>
        
        <div class="t-beaneditor-row">
        	<t:label for="reportName" />
        	<t:select t:id="reportName" value="reportName" model="generatedReportSelectModel" blankOption="ALWAYS" blankLabel="All"/>
        </div>
        
        <input type="submit" value="Search"/>
    </t:form>
    
    <hr />
    
    <t:grid t:source="dataSource" rowsPerPage="50" cellpadding="0" cellspacing="0" t:exclude="reportGenerationLogId" row="reportLog" pagerPosition="bottom">
		  <p:userIdCell>
		  	<t:userLink  userId="${reportLog.userId}"/>
		  </p:userIdCell>
    </t:grid>
</html>