<html t:type="layout" title="${message:page-title}"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      xmlns:p="tapestry:parameter">
      
      <h1>${message:page-title}</h1>
       
      <t:MenuListing />
</html>