<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="reportDataForm">
		<span jwcid="@If" condition="ognl:result != null" renderTag="false">
			<ul class="successMessage"><li><span jwcid="result"/></li></ul>
		</span>
		<table class="formTable">
			<tr>
				<td colspan="2"><h2><span jwcid="reportDescMsg">Report Description</span></h2></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:AnalyseNormalUsers">Analyse Normal Users</span></td>
				<td><input type="checkbox" jwcid="analyseNormalUsersCB"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:AnalyseCorporateAccountUsers">Analyse Corporate Account Users</span></td>
				<td><input type="checkbox" jwcid="analyseCorporateAccountUsersCB"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:AnalyseCorporateUsers">Analyse Corporate Users</span></td>
				<td><input type="checkbox" jwcid="analyseCorporateUsersCB"/></td>
			</tr>
				
			<tr><td>&nbsp;</td></tr>
						
			<tr>
				<td><span jwcid="zoneLabel">Time Zone</span></td>
				<td><select jwcid="zones">
						<option value="Universal">Universal</option>
					</select>
				</td>
			</tr>
				
			<tr>
				<td><span jwcid="formatsLabel">Format</span></td>
				<td><select jwcid="formats"></select></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" jwcid="okSubmit" value="message:OK"></input>
					<input type="button" jwcid="cancelButton" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"></input>
				</td>
			</tr>
		</table>
	</form>
</div>