<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="ognl:pageTitle">Report Name</span></h2>
	<p>
		<span jwcid="@Insert" value="ognl:reportDesc">Report Description</span>
	</p>
	<span jwcid="errorDisplay"/>
	<span jwcid="@If" condition="ognl:result != null" renderTag="false">
		<ul class="successMessage"><li><span jwcid="result"/></li></ul>
	</span>
	<form jwcid="reportDataForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="usernameLabel">Username</span></td>
				<td><input type="text" jwcid="username" size="30"/></td>
			</tr>				
			<tr>
				<td><span jwcid="periodMsg">Period</span></td>
				<td>
					<span jwcid="fromDateLabel">From</span>&nbsp;
					<input jwcid="fromDate"/>&nbsp;
					<span jwcid="toDateLabel">to</span>&nbsp;&nbsp;
					<input jwcid="toDate"/>&nbsp;
				</td>
			</tr>				
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td><span jwcid="zoneLabel">Time Zone</span></td>
				<td><select jwcid="zones">
						<option value="Universal">Universal</option>
					</select>
				</td>
			</tr>
				
			<tr>
				<td><span jwcid="formatsLabel">Format</span></td>
				<td><select jwcid="formats"></select></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" jwcid="okSubmit" value="message:OK"></input>
					<input type="button" jwcid="cancelButton" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"></input>
				</td>
			</tr>
		</table>
	</form>
</div>