<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="reportDataForm">
		<span jwcid="@If" condition="ognl:result != null" renderTag="false">
			<ul class="successMessage"><li><span jwcid="result"/></li></ul>
		</span>
		<table class="formTable">
			<tr>
				<td colspan="2"><h2><span jwcid="reportDescMsg">Report Description</span></h2></td>
			</tr>
			<tr>
				<td><span jwcid="usernameLabel">Username</span></td>
				<td><input type="text" jwcid="username" size="30"/></td>
			</tr>
			<tr>
				<td><span jwcid="periodMsg">Period</span></td>
				<td>
					<span jwcid="fromDateLabel">From</span>&nbsp;
					<input jwcid="fromDate"/>&nbsp;
						
					<span jwcid="toDateLabel">to</span>&nbsp;&nbsp;
					<input jwcid="toDate"/>
				</td>
			</tr>
				
			<tr>
				<td><span jwcid="groupPeriodsLabel">Grouping Period</span></td>
				<td><select jwcid="groupPeriods">
						<option value="Year">Year</option>
					</select>
				</td>
			</tr>
				
			<tr>
				<td><span jwcid="gamesLabel">Game</span></td>
				<td><select jwcid="games">
						<option value="1">Blackjack</option>
					</select>
				</td>
			</tr>
				
			<tr>
				<td><span jwcid="includeJackpotsCBLabel">IncludeJackpots</span></td>
				<td><input type="checkbox" jwcid="includeJackpotsCB"/></td>
			</tr>

			<tr><td>&nbsp;</td></tr>
			<tr>
				<td><span jwcid="zoneLabel">Time Zone</span></td>
				<td><select jwcid="zones">
						<option value="Universal">Universal</option>
					</select>
				</td>
			</tr>
				
			<tr>
				<td><span jwcid="formatsLabel">Format</span></td>
				<td><select jwcid="formats"></select></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" jwcid="okSubmit" value="message:OK"></input>
					<input type="button" jwcid="cancelButton" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"></input>
				</td>
			</tr>
		</table>
	</form>
</div>