<div jwcid="@Layout">

	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<form jwcid="reportDataForm">
		<table class="formTable">
			<tr>
				<td colspan="2"><h2>
						<span jwcid="@Insert" value="ognl:report.reportDesc">Report
							Description</span>
					</h2></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:Period">Period</span></td>
				<td><span jwcid="fromDateLabel">From</span>&nbsp; <input
					jwcid="fromDate" /> <span jwcid="toDateLabel">to</span>&nbsp;&nbsp;
					<input jwcid="toDate" /></td>
			</tr>
			<tr>
				<td><span jwcid="subCorpSelectLabel">User</span></td>
				<td><select jwcid="subCorpSelect">
						<option>Sample</option>
				</select></td>
			</tr>
			<tr>
				<td><span jwcid="summariseUsersCBLabel">Summarise Users</span></td>
				<td><input type="checkbox" jwcid="summariseUsersCB" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><span jwcid="zoneLabel">Time Zone</span></td>
				<td><select jwcid="zones">
						<option value="Universal">Universal</option>
				</select></td>
			</tr>

			<tr>
				<td><span jwcid="formatsLabel">Format</span></td>
				<td><select jwcid="formats"></select></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" jwcid="okSubmit" value="message:OK"></input>
					<input type="button" jwcid="cancelButton" label="message:Cancel"
					onClick="tapestry.form.cancel(this.form)"></input></td>
			</tr>
		</table>
	</form>
</div>