<table xmlns:t="http://tapestry.apache.org/schema/tapestry_5_1_0.xsd">
<tr>
	<td valign="top">${message:paytable}</td>
		<td>
			<table>
				<t:loop source="paytable" value="combo">
					<t:if test="combo.updatable">
						<tr>
							<td>
								${combo.details}
							</td>
							<td>${combo.payout}</td>
						</tr>
					</t:if>
				</t:loop>
			</table>
		</td>
	</tr>
</table>