@CHARSET "UTF-8";

body {
	background: #f4f4f4;
	color: #333;
	font: 12px Verdana, Tahoma, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body a:visited {
	text-decoration: none;
	border: 0;
}

html,body {
	height: 100%;
}

p.clock {
	float: right;
	display: inline;
	padding: 5px 30px 0px 0px;
	margin: 0;
}

.reqFieldIndicator {
	color: red;
}

.container {
	background: #f9f9f9;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 800px;
	overflow: hidden;
	padding-bottom: 40px;
	min-height: 100%;
}

.header {
	background: #000;
	background: -moz-linear-gradient(center top, #38393D 0%, #000000 92%)
		repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#38393D),
		to(#000000)) !important;
	background: -webkit-linear-gradient(top, #38393D, #000000) !important;
	background: -ms-linear-gradient(top, #38393D, #000000) !important;
	background: -o-linear-gradient(top, #38393D, #000000) !important;
	color: #FFFFFF;
	font-style: italic;
	margin: 0;
	padding: 10px 0 5px 10px;
}

.header img {
	padding-top: 10px;
	padding-left: 10px;
}

.header .left {
	margin: 4px 0 0 8px;
}

.header .right {
	margin: 4px 8px 0 0;
}

.header a {
	background: inherit;
	color: #fff;
	text-decoration: none;
}

.header h1,.header h2,.header h2 {
	color: #FFFFFF;
	margin: 0;
	opacity: 0.2;
	padding: 5px;
	text-shadow: 3px 3px 0 #000000;
}

.header a:hover {
	text-decoration: underline;
}

.horizontal_nav ul,.horizontal_nav li {
	margin: 0;
	padding: 0;
}

.horizontal_nav {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
	color: #666666;
	display: table;
	font-size: 1em;
	height: 2em;
	position: relative;
	width: 100%;
	z-index: 9;
}

.horizontal_nav  li {
	float: left;
	list-style: none;
	white-space: nowrap;
}

.horizontal_nav li a {
	background: inherit;
	border-right: 1px solid #000000;
	color: #F5D987;
	display: block;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
	padding: 5px 5px 7px;
	text-decoration: none;
	border: 1px solid #000;
}

* html .horizontal_nav  a {
	width: 1%;
}

.horizontal_nav  .selected,.horizontal_nav a:hover {
	background-color: black;
	text-decoration: none;
}

.content {
	background: #f9f9f9;
	float: none;
	display: block;
	padding: 0 10px 5px 25px;
	color: #000;
	overflow: auto;
	text-shadow: 1px 1px 0px #fff;
	line-height: 20px;
	text-shadow: 1px 1px 0px #fff;
	position: relative;
}

.content h3 {
	color: inherit;
	font-size: 1.4em;
	margin: 0;
	padding: 10px 5px 0 0;
	text-align: left;
	background: inherit;
}

.content h4 {
	color: inherit;
	font-size: .8em;
	margin: 0;
	padding: 0 0 0 10px;
	font-weight: normal;
	background: inherit;
}

.content p {
	margin: 10px 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: inherit;
	color: inherit;
}

.content a {
	text-decoration: none;
	color: #9F0533;
}

.content a:hover {
	text-decoration: underline;
	color: #45048C;
	transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	-webkit-transition: color .5s;
}

.vertical_nav {
	background-color: #F4F4F4;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: -14px 0 10px 0 rgba(0, 0, 0, 0.05) inset;
	float: left;
	height: 100%;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}

.vertical_nav ul {
	color: #333;
	list-style: none;
	padding: 0;
	margin: 0;
}

.vertical_nav li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.vertical_nav li a {
	background: inherit;
	color: rgba(0, 0, 0, 0.3);
	display: block;
	font-size: 1em;
	padding: 10px 30px 10px 22px;
	text-decoration: none;
	white-space: nowrap;
}

.vertical_nav li a:hover {
	background: #FFFF66;
	color: #404040;
	transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	-webkit-transition: color .5s;
	transition: background .5s;
	-moz-transition: background .5s;
	-ms-transition: background .5s;
	-o-transition: background .5s;
	-webkit-transition: background .5s;
}

.vertical_nav li.menu_seperator {
	padding-left: 2px;
	border: 0;
}

.activeLink {
	font-weight: bold;
}

.vertical_nav h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 2px 15px;
}

.vr_menu li.col ul {
	display: none;
	padding: 0;
	margin: 0;
}

.vr_menu_sub1 li {
	padding-left: 10px;
	background: #f5f5f5;
	border-bottom: 0px solid #CCCCCC;
}

.dataTable {
	border: 1px solid #CCCCCC;
}

.dataTable th {
	background: #aaa;
	border: 0;
	border: 1px outset #666;
}

.dataTable th * {
	background: #aaa;
	padding: 0;
	margin: 0;
}

.dataTable tr {
	background: #f5f5f5;
}

.dataTable tr.odd,tr.true {
	background-color: #CCCCCC;
}

.dataTable tr.active {
	background-color: #66ccff;
	font-weight: bold;
}

table.cardsTable {
	border-collapse: collapse;
	border-spacing: 0px;
}

td.cardsColumn {
	padding-left: 0px;
	padding-right: 0px;
}

.footer {
	background-color: #200707;
	clear: both;
	color: #fff;
	font-size: .9em;
	min-height: 1.8em;
	line-height: 1.8em;
	padding: 0;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.footer a {
	background: inherit;
	color: #fff;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .left {
	margin: 0 0 0 8px;
}

.footer .right {
	margin: 0 8px 0 0;
}

.fieldMissing {
	background: #bedef4;
}

.fieldInvalid {
	background: #ffaf7e;
	font-weight: bold;
}

.alertButton {
	width: auto;
	border: none;
	background-color: #699ED9;
	color: #fff;
	padding: 0.1em;
	border-bottom: 1px solid #5885b6 !important;
	border-right: 1px solid #5885b6 !important;
	border-top: 1px solid #92b8e2 !important;
	border-left: 1px solid #92b8e2 !important;
	cursor: pointer;
}

.alertDialog {
	width: 30em;
	border: 2px solid #ff660a;
	padding: 1em;
	background: #ffffff;
	-moz-border-radius: 10px;
}

.alertContent .alertButton {
	float: right;
	position: relative;
	bottom: 1em;
}

.missingList,.invalidList {
	padding-bottom: 0.6em;
	padding-top: 0.2em;
	padding-left: 0.1em;
	padding-right: 0.2em;
	margin: 0;
}

.missingList {
	border-top: 4px solid #bedef4;
}

.invalidList {
	border-top: 4px solid #ffaf7e;
}

.missingList li,.invalidList li {
	list-style: none;
	font-style: italic;
}

.menu_listing .col ul,.menu_listing .exp ul {
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 20px;
}

.menu_listing li {
	background: white;
	border: 0;
}

.errorMessage {
	color: red;
}

.successMessage {
	color: green;
}

/* vertical menu bar */
ul.mbv {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 170px;
}

ul.mbv li {
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}

ul.mbv ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0; /* if using borders, -1 to align top borders */
	left: 184px;
	background: #ececec;
	border: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 2;
}

ul.mbv ul li {
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 3;
}

ul.mbv ul li a {
	margin: 0;
	padding: 6px 12px;
}

td.UserCommentUniqueColumnValue {
	white-space: pre-wrap;
}

DIV.t-beaneditor {
	background: #FFF;
	border: 0px solid #FFF;
}

DIV.t-beaneditor-row LABEL {
	text-align: left;
	width: 110px;
}

DIV.t-beaneditor select {
	width: 236px;
}

DIV.t-beaneditor-row LABEL:after {
	content: "";
}

.t-beaneditor-submit {
	margin-right: 5px;
}

table td.labelForm {
	width: 110px;
}

.datepicker {
	padding-right: 0px !important;
	border-radius: 3px;
	border: 1px solid #B6ABA0;
	width: 174px !important;
}

.dataTable table,.dataTable table * {
	background: inherit !important;
	border: 0px solid #fff !important;
	padding: 0px !important;
	margin: 0px !important;
}

TABLE.t-data-grid THEAD TR TH,TABLE.dataTable THEAD TR TH {
	background: #AAAAAA;
}

TABLE.t-data-grid TR TH A,TABLE.dataTable tr th a {
	color: #1753B6;
}

table.t-data-grid,TABLE.dataTable {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 10px #a0a0a0;
	-moz-box-shadow: 0px 0px 10px #a0a0a0;
	-webkit-box-shadow: 0px 0px 10px #a0a0a0;
	-khtml-box-shadow: 0px 0px 10px #a0a0a0;
	border: 1px solid #a0a0a0;
	border-collapse: separate;
	opacity: 0.9;
	border-spacing: 0px;
}

table.auto,TABLE.dataTable {
	width: auto !important;
}

table.t-data-grid:hover,TABLE.dataTable:hover {
	box-shadow: 0px 0px 10px #777777;
	-moz-box-shadow: 0px 0px 10px #777777;
	-webkit-box-shadow: 0px 0px 10px #777777;
	-khtml-box-shadow: 0px 0px 10px #777777;
	opacity: 1;
}

table.t-data-grid th,TABLE.dataTable th {
	background: #D8D8D8 !important;
	background: -moz-linear-gradient(center top, #D8D8D8 0%, #ffffff 92%)
		repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D8D8D8),
		to(#ffffff)) !important;
	background: -webkit-linear-gradient(top, #D8D8D8, #ffffff) !important;
	background: -ms-linear-gradient(top, #D8D8D8, #ffffff) !important;
	background: -o-linear-gradient(top, #D8D8D8, #ffffff) !important padding:
		 4px 7px !important;
	vertical-align: middle;
	text-shadow: 1px 1px 0px #fff;
}

table.t-data-grid th a,TABLE.dataTable th a {
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}

table.t-data-grid td,TABLE.dataTable td {
	padding: 4px 7px !important;
	color: #444;
	border-bottom: 0px solid #fff !important;
	border-top: 1px solid silver;
}

table.t-data-grid tr:hover td,TABLE.dataTable tr:hover td {
	background: #E2E2E2 !important;
	color: #000;
	text-shadow: 1px 1px 0px #fff;
}

.t-data-grid-pager {
	margin-top: -1px !important;
	float: right;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 40px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 40px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 40px;
	box-shadow: 0px 2px 4px #A0A0A0;
	-moz-box-shadow: 0px 3px 4px #A0A0A0;
	-webkit-box-shadow: 0px 3px 4px #A0A0A0;
	-khtml-box-shadow: 0px 3px 4px #A0A0A0;
	background: #fff;
	border: 1px solid #a0a0a0;
	padding-left: 15px;
}

.t-data-grid-pager * {
	border: 0px solid #fff !important;
	padding: 3px 3px !important;
	display: inline-block;
	font-size: 13px !important;
}

DIV.t-data-grid-pager SPAN.current {
	background: none !important;
	color: #286BD6;
}

.t-data-grid-pager a:hover {
	color: #0B9E40;
}

tr.active {
	background: #ADFF2F;
}

TABLE.t-data-grid THEAD TR {
	color: #1753B6;
}

#content .t-beandisplay DT:after {
	content: ":";
}

#content .t-beandisplay dd {
	float: left;
	clear: right;
	margin-left: 5px;
	padding: 4px;
	text-shadow: 1px 1px 0px #fff;
	padding: 6px 5px;
	border-bottom: 1px solid #f0f0f0;
	width: 370px;
}

#content .t-beandisplay dd table td:first-child {
	max-width: 200px;
	overflow: hidden;
}

#content .t-beandisplay DT {
	float: left;
	padding: 4px;
	color: #0F21AA;
	white-space: nowrap;
	width: 150px;
	text-align: left;
	text-shadow: 1px 1px 0px #fff;
	padding: 6px 5px;
	border-bottom: 1px solid #f0f0f0;
}

#content DL.t-beandisplay {
	float: left;
	background: #fafafa;
	background: -moz-linear-gradient(center top, #F9F9F9 0%, #F0F0F0 92%)
		repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9),
		to(#F0F0F0)) !important;
	background: -webkit-linear-gradient(top, #F9F9F9, #F0F0F0) !important;
	background: -ms-linear-gradient(top, #F9F9F9, #F0F0F0) !important;
	background: -o-linear-gradient(top, #F9F9F9, #F0F0F0) !important border:
		 1px solid #a0a0a0;
	padding: 10px 10px 10px 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #E0E0E0;
}

.clear {
	clear: both;
}

.header img {
	width: 74px;
}

.content h1 {
	text-shadow: 3px 3px 3px #A0A0A0;
}

.content h2 {
	text-shadow: 2px 2px 3px #A0A0A0
}

.content ul {
	list-style: circle outside none
}

DIV.t-beaneditor,.vr_menu {
	background: #F1F1F1;
	background: -moz-linear-gradient(center top, #F9F9F9 0%, #F0F0F0 92%)
		repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9),
		to(#F0F0F0)) !important;
	background: -webkit-linear-gradient(top, #F9F9F9, #F0F0F0) !important;
	background: -ms-linear-gradient(top, #F9F9F9, #F0F0F0) !important;
	background: -o-linear-gradient(top, #F9F9F9, #F0F0F0) !important border:
		 1px solid #e0e0e0;
	border-radius: 5px 5px 5px 5px;
	display: table;
	padding: 10px;
}

DIV.t-beaneditor-row LABEL {
	color: #411522;
}

input[type="text"],input[type="password"],select {
	padding: 5px;
	border: 1px solid #DDDDDD;
	background: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE 1px, #FFFFFF 20px)
		!important;
	background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF),
		color-stop(5%, #EEEEEE) to(#FFFFFF)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB',
		endColorstr='#FFFFFF') !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 2px #DDDDDD;
	-webkit-box-shadow: 0 0 2px #DDDDDD;
	box-shadow: 0 0 2px #DDDDDD;
	color: #606060;
	font-size: 11px;
	width: 229px;
}

input[type="text"]:hover {
	border: 1px solid #cccccc;
}

input[type="text"]:focus {
	box-shadow: 0 0 2px #FFFE00;
}

INPUT.t-error,TEXTAREA.t-error,SELECT.t-error {
	box-shadow: 0 0 3px #FF0000 !important
}

fieldset {
	background: -moz-linear-gradient(center top, #F9F9F9, #F0F0F0) repeat
		scroll 0 0 transparent !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9),
		to(#F0F0F0)) !important;
	background: -webkit-linear-gradient(top, #F9F9F9, #F0F0F0) !important;
	background: -ms-linear-gradient(top, #F9F9F9, #F0F0F0) !important;
	background: -o-linear-gradient(top, #F9F9F9, #F0F0F0) !important border:
		 1px solid #E0E0E0;
	border-radius: 5px 5px 5px 5px;
	color: #303030;
	display: block;
	padding: 10px;
	text-shadow: 1px 1px 0 #FFFFFF;
	margin-bottom: 10px;
}

fieldset legend {
	border: 1px solid #A0A0A0;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 1px #A0A0A0;
	color: #000000;
	display: block;
	padding: 2px 10px;
	text-shadow: 0 0 0 #FFFFFF;
}

fieldset label {
	display: inline-block;
	min-width: 64px !important;
	color: #303030;
	text-align: left !important;
}

fieldset label:hover {
	color: #903030;
	transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	-webkit-transition: color .5s
}

fieldset:hover legend {
	background: #EBFFE8;
	transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	-webkit-transition: color .5s
}

hr {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D0D0D0;
	height: 0;
	padding: 0;
}

input[type="submit"] {
	background: -moz-linear-gradient(center top, #FFFFFF 30%, #EDEDED 72%)
		repeat scroll 0 0 transparent !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
		to(#EDEDED)) !important;
	background: -webkit-linear-gradient(top, #FFFFFF, #EDEDED) !important;
	background: -ms-linear-gradient(top, #FFFFFF, #EDEDED) !important;
	background: -o-linear-gradient(top, #FFFFFF, #EDEDED) !important border:
		 1px solid #D0D0D0;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 1px #E0E0E0;
	cursor: pointer;
	padding: 2px 20px;
}

input[type="submit"]:hover {
	background: -moz-linear-gradient(center top, #F4F4F4 30%, #DBDBDB 72%)
		repeat scroll 0 0 transparent !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4),
		to(#DBDBDB)) !important;
	background: -webkit-linear-gradient(top, #F4F4F4, #DBDBDB) !important;
	background: -ms-linear-gradient(top, #F4F4F4, #DBDBDB) !important;
	background: -o-linear-gradient(top, #F4F4F4, #DBDBDB) !important
		box-shadow: 0 0 5px #E0E0E0;
	color: #68011F;
}

#loginForm .formTable tr {
	background: #289ADE;
	background: -moz-linear-gradient(center top, #3BBAE8 0%, #289ADE 92%)
		!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3BBAE8),
		to(#289ADE)) !important;
	background: -webkit-linear-gradient(top, #3BBAE8, #289ADE) !important;
	background: -ms-linear-gradient(top, #3BBAE8, #289ADE) !important;
	background: -o-linear-gradient(top, #3BBAE8, #289ADE) !important;
	float: left;
	margin-right: 24px;
	border-radius: 5px;
	border: 1px solid #0E84C9;
	box-shadow: 0px 0px 10px #a0a0a0;
}

#loginForm .formTable tr td {
	padding: 12px;
	clear: both;
	float: left;
}

#loginForm .formTable {
	margin: 0 auto;
	border-spacing: 0px;
	margin-top: 29px;
	padding: 25px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
}

#loginForm .formTable tr:last-child input {
	background: #EDEDED;
	background: -moz-linear-gradient(center top, #fff 30%, #EDEDED 72%)
		!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff),
		to(#EDEDED)) !important;
	background: -webkit-linear-gradient(top, #fff, #EDEDED) !important;
	background: -ms-linear-gradient(top, #fff, #EDEDED) !important;
	background: -o-linear-gradient(top, #fff, #EDEDED) !important border: 1px
		solid #d0d0d0;
	border-radius: 5px;
	padding: 8px 45px;
	box-shadow: 0px 0px 9px #e0e0e0;
}

#loginForm .formTable tr:last-child {
	background: none !important;
	border: none;
	clear: both;
	margin-left: 178px;
	box-shadow: 0px 0px 0px #fff;
}

#loginForm .formTable tr:first-child {
	background: #E45C06;
	background: -moz-linear-gradient(center top, #EC8708 0%, #E45C06 92%)
		!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EC8708),
		to(#E45C06)) !important;
	background: -webkit-linear-gradient(top, #EC8708, #E45C06) !important;
	background: -ms-linear-gradient(top, #EC8708, #E45C06) !important;
	background: -o-linear-gradient(top, #EC8708, #E45C06) !important;
	border: 1px solid #C96E00;
	box-shadow: 0px 0px 10px #a0a0a0;
}

#loginForm .formTable tr td label {
	color: #fff !important;
	font-weight: bold;
	text-shadow: 1px 1px 0px #404040;
	text-transform: uppercase;
	font-size: 12px;
}

#loginForm .formTable tr td:first-child {
	padding-bottom: 0px;
}

.datePicker * {
	background-color: #000000 !important;
	border-spacing: 0;
	font-size: 12px !important;
	padding: 0;
	text-shadow: 0px 0px 0px #000;
}

.datePicker {
	box-shadow: 0 0 10px #303030;
	width: 140px !important;
}

.datePicker td {
	color: #FFFFFF !important;
}

.datePicker .today,.datePicker td.selected {
	color: #CCFF00 !important;
}

.datePicker td.red {
	color: #FF0000 !important;
}

.datePicker td .topLabel {
	color: #CCFF00 !important;
}

.datePicker button {
	background-color: #A0A0A0 !important;
	border: 1px solid #404040;
	color: #000000;
}

.datePicker .footer {
	min-height: 13px;
}

.gridTable td:hover {
	color: #23AEFF !important;
	font-weight: bold !important;
}

.gridTable tr.daysRow td:hover {
	color: #fff !important;
}

.taskTable {
	float: left;
}

.tableClass {
	border: 1px solid #E0E0E0;
}

.tableClass td {
	border: 1px solid #E0E0E0;
}

DIV.t-error {
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border: 1px solid #d0d0d0;
	box-shadow: 0 0 8px #e0e0e0;
	-webkit-box-shadow: 0 0 8px #e0e0e0;
	-khtml-box-shadow: 0 0 8px #e0e0e0;
	-o-box-shadow: 0 0 8px #e0e0e0;
}

DIV.t-error DIV.t-banner {
	background: #ff0000;
	background: -moz-linear-gradient(center top, #FFAAAA 0%, #ff0000 92%)
		!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFAAAA),
		to(#ff0000)) !important;
	background: -webkit-linear-gradient(top, #FFAAAA, #ff0000) !important;
	background: -ms-linear-gradient(top, #FFAAAA, #ff0000) !important;
	background: -o-linear-gradient(top, #FFAAAA, #ff0000) !important;
	padding: 2px 10px;
}

DIV.t-error DIV.t-banner {
	text-shadow: 1px 1px 0px #404040;
}

DIV.t-error UL {
	color: #000;
}

DIV.t-error LI {
	padding: 3px 6px;
}

.userDetails {
	float: left;
	width: 600px;
}

.userActions {
	position: absolute;
	left: 635px;
}