<div jwcid="@Layout">
	<h1>
		<span jwcid="@Insert" value="message:AccessDenied" />
	</h1>
	<p>
		<span jwcid="@Insert" value="message:AccessDeniedReason" />
	</p>
	<p>
		<a jwcid="homeLink" href="Home"><span jwcid="@Insert"
			value="message:Home" /></a>
	</p>
</div>