<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<form jwcid="passwordChangeForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="oldPasswordLabel">Old Password</span></td>
				<td><input type="password" jwcid="oldPassword" /></td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td><span jwcid="newPasswordLabel">New Password</span></td>
				<td><input type="password" jwcid="newPassword" /></td>
			</tr>
			<tr>
				<td><span jwcid="newPasswordConfirmLabel">Confirm New
						Password</span></td>
				<td><input type="password" jwcid="newPasswordConfirm" /></td>
			</tr>
			<tr>
				<td><input jwcid="okSubmit" type="submit"
					value="message:Change" /> <input jwcid="cancelButton" type="Button"
					label="message:Cancel" onClick="tapestry.form.cancel(this.form)" />
				</td>
			</tr>
		</table>
	</form>
</div>