<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<span jwcid="@If" condition="ognl:getUserId() != null">
		<form jwcid="confirmForm">
			<table class="formTable">
				<tr>
					<td colspan="2"><span jwcid="@Insert"
						value="message:Confirmation" /></td>
				</tr>
				<tr>
					<td>
						<table class="dataTable">
							<tr>
								<td><span jwcid="@Insert" value="message:User" /></td>
								<td><span jwcid="usernameVal" /></td>
							</tr>
							<tr>
								<td><span jwcid="@Insert" value="message:Amount" /></td>
								<td><span jwcid="amountVal" /></td>
							</tr>
							<span jwcid="@If" renderTag="false"
								condition="ognl:description != null">
								<tr>
									<td><span jwcid="@Insert" value="message:Description" /></td>
									<td><span jwcid="descriptionVal" /></td>
								</tr>
							</span>
						</table>
					</td>
				</tr>
				<tr>
					<td><span jwcid="passwordLabel" />&nbsp; <span jwcid="password"/>
								</td>
				</tr>
				<tr>
					<td><input jwcid="amount" type="hidden" /> <input
						jwcid="userId" type="hidden" /> <input jwcid="description"
						type="hidden" /> <input jwcid="confirmSubmit" type="Submit"
						value="message:OK" /> &nbsp; <input jwcid="cancelButton"
						type="button" label="message:Cancel"
						onClick="tapestry.form.cancel(this.form)" /></td>
				</tr>
			</table>
		</form>
	</span>
</div>