<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<ul jwcid="@If" renderTag="ognl:result != null"
		condition="ognl:result != null">
		<li><span jwcid="result" /></li>
	</ul>
	<span jwcid="@If" condition="ognl:!isUserIdNull" renderTag="false">
		<form jwcid="confirmForm">
			<table class="formTable">
				<tr>
					<td colspan="2"><span jwcid="@Insert"
						value="ognl:ConfirmMessage">Confirm removal?</span></td>
				</tr>
				<tr>
					<td><input jwcid="userID" type="hidden" /> <input
						jwcid="activate" type="hidden" /> <input jwcid="confirmSubmit"
						type="Submit" value="message:Yes" /> &nbsp; <input
						jwcid="cancelRemoval" type="button" label="message:No"
						onClick="tapestry.form.cancel(this.form)" /></td>
				</tr>
			</table>
		</form>
	</span>
</div>