<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>

	<form jwcid="confirmForm">
		<table class="formTable">
			<tr>
				<td colspan="2"><span jwcid="@Insert"
					value="ognl:ConfirmationMessage" /></td>
			</tr>
			<tr>
				<td><span jwcid="passwordLabel" />&nbsp; <span jwcid="password"/>
								</td>
			</tr>
			<tr>
				<td><input jwcid="confirmSubmit" type="Submit"
					value="message:OK" /> &nbsp; <input jwcid="cancelButton"
					type="button" label="message:Cancel"
					onClick="tapestry.form.cancel(this.form)" /></td>
			</tr>
		</table>
	</form>
</div>