<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<span jwcid="@If" condition="ognl:!isUserIdNull" renderTag="false">
		<form jwcid="confirmForm">
			<table class="formTable">
				<tr>
					<td colspan="2"><span jwcid="@Insert"
						value="message:confirm-msg" /> <strong> <span
							jwcid="@Insert" value="ognl:username" />
					</strong> ?</td>
				</tr>
				<tr>
					<td><input jwcid="confirmSubmit" type="Submit"
						value="message:yes" /> &nbsp; <input jwcid="cancelRemoval"
						type="button" label="message:no"
						onClick="tapestry.form.cancel(this.form)" /></td>
				</tr>
			</table>
		</form>
	</span>
</div>
