<div jwcid="@Layout">
	<h2>
		<span jwcid="@Insert" value="ognl:pageTitle">Account Information</span>
	</h2>

	<table class="dataTable">
		<tr>
			<td><span jwcid="@Insert" value="message:Rate">Sub-Affiliate
					Rate</span></td>
			<td><span jwcid="subaffRate">5</span> %</td>
		</tr>
		<tr>
			<td><span jwcid="@Insert" value="message:Balance">Balance</span></td>
			<td><span jwcid="balance">5.00</span></td>
		</tr>
		<tr>
			<td><span jwcid="@Insert" value="message:Earnings">Earnings</span></td>
			<td><span jwcid="earnings">5.00</span></td>
		</tr>
		<tr>
			<td><span jwcid="@Insert" value="message:FreeCredits">Free
					Credits</span></td>
			<td><span jwcid="freeCredits">5.00%</span></td>
		</tr>
	</table>
</div>