<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>

	<form jwcid="registerForm">
		<h1>
			<span jwcid="@Insert" value="message:page-title">Register</span>
		</h1>
		<table class="formTable">
			<tr>
				<td><span jwcid="usernameLabel">Username</span></td>
				<td><input type="text" jwcid="username" /></td>
			</tr>
			<tr>
				<td><span jwcid="passwordLabel">Password</span></td>
				<td><input type="password" jwcid="password" /></td>
			</tr>
			<tr>
				<td><span jwcid="passwordConfirmLabel">Password</span></td>
				<td><input type="password" jwcid="passwordConfirm" /></td>
			</tr>
			<tr>
				<td><span jwcid="nicknameLabel">Nickname</span></td>
				<td><input type="nickname" jwcid="nickname" /></td>
			</tr>
			<tr>
				<td><span jwcid="firstNameLabel">First Name</span></td>
				<td><input type="text" jwcid="firstName" /></td>
			</tr>
			<tr>
				<td><span jwcid="middleNameLabel">Middle Name</span></td>
				<td><input type="text" jwcid="middleName" /></td>
			</tr>
			<tr>
				<td><span jwcid="lastNameLabel">Last Name</span></td>
				<td><input type="text" jwcid="lastName" /></td>
			</tr>
			<tr>
				<td><span jwcid="addressLabel">Address</span></td>
				<td><textarea type="text" jwcid="address"></textarea></td>
			</tr>
			<tr>
				<td><span jwcid="townLabel">Town/City</span></td>
				<td><input type="text" jwcid="town" /></td>
			</tr>
			<tr>
				<td><span jwcid="postCodeLabel">Postal Code</span></td>
				<td><input type="text" jwcid="postCode" /></td>
			</tr>
			<tr>
				<td><span jwcid="regionLabel">State/Region</span></td>
				<td><input type="text" jwcid="region" /></td>
			</tr>
			<tr>
				<td><span jwcid="countryLabel">Country</span></td>
				<td><select jwcid="country">
						<option value="CY">Cyprus</option>
				</select></td>
			</tr>
			<tr>
				<td><span jwcid="zoneLabel">Time Zone</span></td>
				<td><select jwcid="zone">
						<option value="UTC">UTC</option>
				</select></td>
			</tr>
			<tr>
				<td><span jwcid="phoneLabel">Phone</span></td>
				<td><input type="text" jwcid="phone" /></td>
			</tr>
			<tr>
				<td><span jwcid="emailLabel">E-mail</span></td>
				<td><input type="text" jwcid="email" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input jwcid="registerSubmit" type="submit"
					value="message:Create" /> <input jwcid="cancelButton"
					type="button" label="message:Cancel"
					onClick="tapestry.form.cancel(this.form)" /></td>
			</tr>
		</table>
	</form>
</div>