<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<form jwcid="requestForm">
		<h2>
			<span jwcid="@Insert" value="message:page-title">Earnings
				Statement</span>
		</h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="userLabel">Username</span></td>
				<td><select jwcid="user">
						<option value="1">User</option>
				</select></td>
			</tr>
			<tr>
				<td><span jwcid="fromDateLabel">From</span></td>
				<td><input jwcid="fromDate" /></td>
			</tr>
			<tr>
				<td><span jwcid="toDateLabel">to</span></td>
				<td><input jwcid="toDate" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input jwcid="okSubmit" type="submit" value="message:OK" />
					<input jwcid="cancelSubmit" type="submit" value="message:Cancel"
					onClick="tapestry.form.cancel(this.form)" /></td>
			</tr>
		</table>
	</form>
</div>