<div jwcid="@Layout">
	<h2>
		<span jwcid="@Insert" value="message:page-title">Transfers</span>&nbsp;<span
			jwcid="formattedFromDate" />&nbsp;<span jwcid="formattedToDate" />
	</h2>
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<span jwcid="@If" condition="ognl:!isUserIdNull" renderTag="false">
		<span jwcid="@Insert" value="message:Total" /> <span jwcid="@Insert"
		value="ognl:formatCurrency(getTotalAmount())" /> <br />
	<br />
		<table jwcid="earnings" class="dataTable">
			<tr>
				<td>Table here</td>
			</tr>
		</table> <span jwcid="DateColumnValue@Block"> <span jwcid="date" />
	</span> <span jwcid="AmountColumnHeader@Block"> <span jwcid="@Insert"
			value="ognl:getAmountColumnHeader('Amount')" />
	</span> <span jwcid="AmountColumnValue@Block"> <span jwcid="amount" />
	</span> <span jwcid="InitiatorIdColumnValue@Block"> <span jwcid="@If"
			condition="ognl:currTransaction.initiatorId != 0"> <span
				jwcid="@Insert" value="ognl:currTransaction.initiatorId" />
		</span>

	</span>
	</span>
</div>