<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors" class="errorMessage">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<form jwcid="registerForm">
		<h2>
			<span jwcid="@Insert" value="message:page-title">Page Title</span>
		</h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:Username">Username</span></td>
				<td><strong><span jwcid="username"></span></strong></td>
			</tr>
			<tr>
				<td><span jwcid="affiliateRateLabel">Affiliate Rate</span></td>
				<td><input type="text" jwcid="affiliateRate" size="9" />%</td>
			</tr>
			<tr>
				<td><span jwcid="paymentPeriodLabel">Payment Period</span></td>
				<td><select jwcid="paymentPeriod">
						<option>1 month</option>
				</select></td>
			</tr>

			<span jwcid="@If" condition="ognl:user.AllowFreeCredits"
				renderTag="false">
				<tr>
					<td><span jwcid="allowFreeCreditsCBLabel">Allow Free
							Credits</span></td>
					<td><input jwcid="allowFreeCreditsCB" type="checkbox" /></td>
				</tr> <span jwcid="@If" condition="ognl:user.AllowFullFreeCredits"
				renderTag="false">
					<tr>
						<td><span jwcid="allowFullFreeCreditsCBLabel">Allow
								Free Credits on All Games</span></td>
						<td><input jwcid="allowFullFreeCreditsCB" type="checkbox" /></td>
					</tr>
			</span>
			</span>
			<tr>
				<td></td>
				<td><input jwcid="registerSubmit" type="submit"
					value="message:Update" /> <input jwcid="cancelButton"
					type="button" label="message:Cancel"
					onClick="tapestry.form.cancel(this.form)" /></td>
			</tr>
		</table>
	</form>
</div>