<div jwcid="@Layout">
	<span jwcid="@If" condition="ognl:isPageNotFound()" renderTag="false">
		<h1>
			<span jwcid="@Insert" value="message:page-not-found">Page not
				found</span>
		</h1>
		<p>
			The requested page <span jwcid="@Insert" value="ognl:notFoundURI">/page.html</span>
			was not found on this server.
		</p>
	</span> <span jwcid="@If" condition="ognl:!isPageNotFound()" renderTag="false">
		<h1>Server Error</h1>
		<p>An error has occurred while processing your request.</p>
	</span>
</div>