<div jwcid="@Layout">
	<p>
	<span jwcid="@Insert" value="message:success-msg" />
	</p>
	<table class="dataTable">
		<tr>
			<td><span jwcid="@Insert" value="message:User" /></td>
			<td><span jwcid="usernameVal" /></td>
		</tr>
		<tr>
			<td><span jwcid="@Insert" value="message:Amount" /></td>
			<td><span jwcid="amountVal" /></td>
		</tr>
	</table>
	<br /> <a jwcid="transfersLink"><span jwcid="@Insert"
		value="message:Back" /></a>
</div>