<div jwcid="@Layout">
	<h1>
		<span jwcid="@Insert" value="message:Hello">Hello</span>,&nbsp;<span
			jwcid="username">User</span>.
	</h1>
	<p>
		<span jwcid="@Insert" value="message:Welcome">Welcome to the
			Casino Backoffice.</span>
	</p>
</div>