<div jwcid="@Layout">
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>

	<form jwcid="loginForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="usernameLabel">Username</span></td>
				<td><input type="text" jwcid="usernameField"></input></td>
			</tr>
			<tr>
				<td><span jwcid="passwordLabel">Password</span></td>
				<td><input type="password" jwcid="passwordField"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Login"></input></td>
			</tr>
		</table>
	</form>
</div>