<div jwcid="@Layout">

	<h2>
		<span jwcid="@Insert" value="message:page-title">Funds
			Administration</span>
	</h2>
	<span jwcid="menuListing" />

	<h2>
		<span jwcid="@Insert" value="message:FinishedReports">Finished
			Reports</span>
	</h2>
	<table class="dataTable">
		<tr>
			<th><span jwcid="@Insert" value="message:Date">Date</span></th>
			<th><span jwcid="@Insert" value="message:ReportName">Report</span></th>
			<th></th>
			<th></th>
		</tr>
		<span jwcid="reportsFor">
			<td><span jwcid="reportDate">Date</span></td>
			<td><span jwcid="reportName"></span></td>
			<td><a jwcid="viewReportLink"><span jwcid="@Insert"
					value="message:View">View</span></a></td>
			<td><a jwcid="delReportLink"><span jwcid="@Insert"
					value="message:Delete">Delete</span></a></td>
		</span>

	</table>

</div>