<div jwcid="@Layout">
	<h2>
		<span jwcid="@Insert" value="message:page-title">Page Title</span>
	</h2>
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<span jwcid="@If" condition="ognl:!isUserIdNull" renderTag="false">
		<form jwcid="passwordChangeForm">
			<table class="formTable">

				<tr>
					<td><span jwcid="@Insert" value="message:Username">Username</span></td>
					<td><strong><span jwcid="username">username</span></strong></td>
				</tr>

				<tr>
					<td></td>
				</tr>
				<tr>
					<td><span jwcid="newPasswordLabel">New Password</span></td>
					<td><input type="password" jwcid="newPassword" /></td>
				</tr>
				<tr>
					<td><span jwcid="newPasswordConfirmLabel">Confirm New
							Password</span></td>
					<td><input type="password" jwcid="newPasswordConfirm" /></td>
				</tr>
				<tr>
					<td><input jwcid="okSubmit" type="submit"
						value="message:Change" /> <input jwcid="cancelButton"
						type="Button" label="message:Cancel"
						onClick="tapestry.form.cancel(this.form)" /></td>
				</tr>
			</table>
		</form>
	</span>
</div>