<div jwcid="@Layout">
	<h2>
		<span jwcid="@Insert" value="message:page-title">Page Title</span>
	</h2>
	<span jwcid="@If" renderTag="false" condition="ognl:hasSubCorps">
		<h2>
			<span jwcid="@If" condition="ognl:currentCorp == user.id"
				renderTag="false"> <span jwcid="@Insert"
				value="message:MySubCorporates">Sub-Accounts</span>
			</span> <span jwcid="@Else" renderTag="false"> <span jwcid="@Insert"
				value="ognl:currentCorpUsername" /> <span jwcid="@Insert"
				value="message:SubCorporates" />
			</span>
		</h2>
		<table jwcid="corporates" class="dataTable">
			<tr>
				<td>Table Here</td>
			</tr>
		</table> <span jwcid="AffiliateUsernameColumnValue@Block"> <a
			jwcid="usernameLink"><span jwcid="@Insert"
				value="ognl:currAffiliate.username" /></a>
	</span> <span jwcid="AffiliateBalanceColumnValue@Block"> <span
			jwcid="affiliateBalance">0.00</span>
	</span> <span jwcid="DepositColumnValue@Block"> <span jwcid="balance">0.0</span>
	</span> <span jwcid="LastPaymentColumnValue@Block"> <span
			jwcid="lastPayment">01-01-2008</span>
	</span> <span jwcid="AffiliateBalanceColumnHeader@Block"> <span
			jwcid="@Insert"
			value="ognl:getAmountColumnHeader('AffiliateBalance')" />
	</span> <span jwcid="DepositColumnHeader@Block"> <span jwcid="@Insert"
			value="ognl:getAmountColumnHeader('Deposit')" />
	</span> <span jwcid="transferEarningsColumnHeader@Block"></span> <span
		jwcid="subaccountsColumnHeader@Block"></span> <span
		jwcid="pActivateColumnHeader@Block"></span> <span
		jwcid="pCloseColumnHeader@Block"></span> <span
		jwcid="transferEarningsColumnValue@Block"> <a
			jwcid="transfer2balanceLink" href="PayCorporate.html"><span
				jwcid="transfer2balanceMsg" style="font-weight: bold; color: red;">Transfer
					Earnings To Balance</span></a>
	</span> <span jwcid="subaccountsColumnValue@Block"> <a jwcid="subLink"
			href="SubAccounts.html"><span jwcid="@Insert"
				value="message:subaccounts" /></a>
	</span> <span jwcid="pActivateColumnValue@Block"> <a
			jwcid="partnerActivateLink" href="ConfirmUserStateChange.html"><span
				jwcid="partnerActivateMsg">Activate</span></a>
	</span> <span jwcid="pCloseColumnValue@Block"> <a jwcid="pCloseLink"
			href="ConfirmUserAccountClose.html"><span jwcid="@Insert"
				value="message:Close">Close</span></a>
	</span>

	</span> <span jwcid="@If" condition="ognl:user.superCorp < 1"
		renderTag="false">
		<p>
			<a jwcid="@PageLink" page="SubPartnersApproval"> <span
				jwcid="@Insert" value="message:subcorpsApproval" /></a>
		</p>
	</span> <span jwcid="@If" renderTag="false" condition="ognl:hasUsers">

		<h2>
			<span jwcid="@If" condition="ognl:currentCorp == user.id"
				renderTag="false"> <span jwcid="@Insert"
				value="message:MyUsers">My Users</span>
			</span> <span jwcid="@Else" renderTag="false"> <span jwcid="@Insert"
				value="ognl:currentCorpUsername" /> <span jwcid="@Insert"
				value="message:Users" />
			</span>

		</h2>

		<table jwcid="users" class="dataTable">
			<tr>
				<td>Table here</td>
			</tr>
		</table> <span jwcid="UsernameColumnValue@Block"> <a
			jwcid="userUsernameLink"><span jwcid="@Insert"
				value="ognl:currUser.Username" /></a>
	</span> <span jwcid="uActivateColumnHeader@Block"></span> <span
		jwcid="uActivateColumnValue@Block"> <a jwcid="userActivateLink"
			href="ConfirmUserStateChange.html"><span jwcid="userActivateMsg">Activate</span></a>
	</span> <span jwcid="uCloseColumnHeader@Block"></span> <span
		jwcid="uCloseColumnValue@Block"> <a jwcid="uCloseLink"
			href="ConfirmUserAccountClose.html"><span jwcid="@Insert"
				value="message:Close">Close</span></a>
	</span>
	</span>
</div>
