<div jwcid="@Layout">
	<h1>
		<span jwcid="@Insert" value="message:RegisterSuccess">Needs
			approval</span>
	</h1>
	<p>
	<ul>

		<li><span jwcid="@Insert" value="message:requires-approval-msg2" />
		</li>
		<li><span jwcid="@Insert" value="message:requires-approval-msg">Registration
				Successful</span></li>

	</ul>
	</p>

	<a jwcid="home"><span jwcid="@Insert" value="message:Home" /></a>

</div>