<div jwcid="@Layout">
	<h1>
		<span jwcid="@Insert" value="message:page-title">Register</span>
	</h1>

	<table jwcid="subCorps" class="dataTable">
		<tr>
			<td>Table Here</td>
		</tr>
	</table>

	<span jwcid="ApproveColumnHeader@Block"></span> <span
		jwcid="ApproveColumnValue@Block"> <span jwcid="@If"
		condition="ognl:currCorp.superApprovalRequired" renderTag="false">
			<a jwcid="verifyLink" href="ConfirmSubcorporateApproval.html"><span
				jwcid="@Insert" value="message:Approve">Verify</span></a>
	</span>
	</span> <span jwcid="RegisterDateColumnValue@Block"> <span
		jwcid="registerDate" />
	</span>

	<p>
		<a jwcid="@PageLink" page="SubAccounts"> <span jwcid="@Insert"
			value="message:Back" /></a>
	</p>

</div>
