<div jwcid="@Layout">
	<h2>
		<span jwcid="@Insert" value="message:page-title">Page Title</span>
	</h2>
	<div class="delayNotice">
		<b><span jwcid="@Insert" value="message:delayNotice">Information
				may be delayed</span></b>
	</div>
	<div>
		<b><span jwcid="@Insert" value="message:promoCredits"></span></b>
	</div>
	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<br /> <span jwcid="@Insert" value="message:Balance" />&#58;&nbsp; <span
		jwcid="@Insert" value="ognl:systemCurrencySymbol" /> <span
		jwcid="userBalance" />

	<table>
		<tr valign="top">
			<td>
				<table class="formTable">
					<tr jwcid="@If" condition="ognl:hasUsers" renderTag="ognl:hasUsers">
						<td colspan="4">
							<h2>
								<span jwcid="@Insert" value="message:MyUsers">My Users</span>
							</h2>
							<table jwcid="users" id="users" class="dataTable">
								<tr>
									<td>Table here</td>
								</tr>
							</table>
							<form jwcid="userTransferForm">
								<table class="formTable">
									<tr>
										<td><span jwcid="userSelectLabel">User</span></td>
										<td><select jwcid="userSelect">
												<option>Sample</option>
										</select></td>
									</tr>
									<tr>
										<td><span jwcid="userAmountLabel">Amount</span></td>
										<td><input type="text" jwcid="userAmount" /></td>
										<td><input type="submit" jwcid="userTransferSubmit"
											value="message:Transfer" /></td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
					<tr jwcid="@If" condition="ognl:hasSubCorps"
						renderTag="ognl:hasSubCorps">
						<td colspan="4">
							<h2>
								<span jwcid="@Insert" value="message:MySubCorporates">My
									Sub-Accounts</span>
							</h2>
							<table jwcid="subCorps" id="subCorps" class="dataTable">
								<tr>
									<td>Table here</td>
								</tr>
							</table>
							<form jwcid="subCorpTransferForm">
								<table class="formTable">
									<tr>
										<td><span jwcid="subCorpSelectLabel">User</span></td>
										<td><select jwcid="subCorpSelect">
												<option>Sample</option>
										</select></td>
									</tr>
									<tr>
										<td><span jwcid="subCorpAmountLabel">Amount</span></td>
										<td><input type="text" jwcid="subCorpAmount" /></td>
									</tr>
									<tr>
										<td><span jwcid="subCorpDescLabel">Description</span></td>
										<td><input type="text" jwcid="subCorpDesc" /></td>
										<td><input type="submit" jwcid="subCorpTransferSubmit"
											value="message:Transfer" /></td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table> <span jwcid="UserIdColumnHeader@Block"></span> <span
				jwcid="clearBalanceColumnHeader@Block">&nbsp;</span> <span
				jwcid="FreeCreditsBalanceColumnHeader@Block">&nbsp;</span> <span
				jwcid="freeColumnHeader@Block">&nbsp;</span> <span
				jwcid="BalanceColumnHeader@Block"> <span jwcid="@Insert"
					value="ognl:getBalanceColumnHeader()" />
			</span> <span jwcid="UserIdColumnValue@Block"> <span jwcid="userId" />
			</span> <span jwcid="clearBalanceColumnValue@Block"> <a
					jwcid="clearUserBalanceLink"> <span jwcid="@Insert"
						value="message:Clear" />
				</a>
			</span> <span jwcid="freeColumnValue@Block"> <span jwcid="@If"
					condition="ognl:user.allowFreeCredits" renderTag="false"> <a
						jwcid="freeCreditsLink" onclick="return givePromo(this.name);">
							<span jwcid="@Insert" value="message:Free" />
					</a>
				</span>
			</span> <span jwcid="BalanceColumnValue@Block"> <span jwcid="balance" />
			</span> <span jwcid="FreeCreditsColumnValue@Block"> <span
					jwcid="freeCredits" />
			</span>
			</td>
			<td>
				<h2>
					<span jwcid="@Insert" value="message:last10Msg">Last 10
						Transfers since login</span>
				</h2>

				<table class="dataTable" jwcid="lastTransfers">
					<span jwcid="RealColumnValue@Block"> <span jwcid="@Insert"
						value="ognl:formatAmountHideZero(currTransfer.Amount)" />
					</span>
					<span jwcid="FreeColumnValue@Block"> <span jwcid="@Insert"
						value="ognl:formatAmountHideZero(currTransfer.PromoAmount)" />
					</span>
					<span jwcid="TimeColumnValue@Block"> <span jwcid="@Insert"
						value="ognl:formatDate(currTransfer.TransferDate)" />
					</span>
					<span jwcid="TypeColumnValue@Block"> <span jwcid="@Insert"
						value="ognl:currTransfer.Type" />
					</span>
				</table>
			</td>
		</tr>
	</table>
	<span jwcid="@Script" script="context:js/TransferFunds.script" /> <span
		jwcid="balanceRefreshTile" />
</div>