<div jwcid="@Layout">

	<h2>
		<span jwcid="@Insert" value="message:page-title">Transfers</span>&nbsp;<span
			jwcid="formattedFromDate" />&nbsp;<span jwcid="formattedToDate" />
	</h2>
	<table class="dataTable">
		<tr>
			<th><span jwcid="@Insert" value="message:CreditAmount" /></th>
			<th><span jwcid="@Insert" value="message:DebitAmount" /></th>
			<th><span jwcid="@Insert" value="message:Total" /></th>
		</tr>
		<tr>
			<td><span jwcid="totalIn" /></td>
			<td><span jwcid="totalOut" /></td>
			<td><span jwcid="total" /></td>
		</tr>
	</table>
	<br />

	<table jwcid="transfers" class="dataTable">
		<tr>
			<td>Table here</td>
		</tr>
	</table>

	<span jwcid="DateColumnValue@Block"> <span jwcid="date" />
	</span> <span jwcid="CreditAmountColumnValue@Block"> <span
		jwcid="creditAmount" />
	</span> <span jwcid="DebitAmountColumnValue@Block"> <span
		jwcid="debitAmount" />
	</span>
</div>