<div jwcid="@Layout">

	<ul jwcid="@If" condition="ognl:beans.delegate.hasErrors"
		renderTag="ognl:beans.delegate.hasErrors">
		<span jwcid="errors">
			<li jwcid="isInError"><span jwcid="error" /></li>
		</span>
	</ul>
	<table>
		<tr valign="top">
			<td>
				<h2>
					<span jwcid="@Insert" value="message:Info">User Information</span>
				</h2>
				<table class="dataTable">
					<tr>
						<td><span jwcid="@Insert" value="message:Username">Username</span>
						</td>
						<td><span jwcid="username">Username</span></td>
					</tr>
					<span jwcid="@If"
						condition="ognl:userDetails.userTypeEnum == @com.magneta.casino.services.enums.UserTypeEnum@CORPORATE_PLAYER"
						renderTag="false">
						<tr>
							<td><span jwcid="@Insert" value="message:Nickname">Nickname</span>
							</td>
							<td><span jwcid="nickname">Nickname</span></td>
						</tr>
					</span>
					<tr>
						<td><span jwcid="@Insert" value="message:FirstName">First
								Name</span></td>
						<td><span jwcid="firstName">First Name</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:MiddleName">Middle
								Name</span></td>
						<td><span jwcid="middleName">Middle Name</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:LastName">Last
								Name</span></td>
						<td><span jwcid="lastName">Last Name</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Registered">Registered</span>
						</td>
						<td><span jwcid="registerDate">01/01/2006</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Phone">Phone</span>
						</td>
						<td><span jwcid="phone">22000000</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Email">Email</span>
						</td>
						<td><span jwcid="email">email@email.com</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Town">Town</span></td>
						<td><span jwcid="town">Town</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Region">Region</span>
						</td>
						<td><span jwcid="region">Region</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Address">Address</span>
						</td>
						<td><span jwcid="address">Address</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:PostalCode">Post
								Code</span></td>
						<td><span jwcid="postalCode">0000</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Country">Country</span>
						</td>
						<td><span jwcid="country">Country</span></td>
					</tr>
					<span jwcid="@If"
						condition="ognl:userDetails.userTypeEnum == @com.magneta.casino.services.enums.UserTypeEnum@CORPORATE_PLAYER"
						renderTag="false">
						<tr>
							<td><span jwcid="@Insert" value="message:LastLoginLocations">false</span>
							</td>
							<td colspan="3">
								<ul>
									<li jwcid="loginsList"><span jwcid="@Insert"
										value="ognl:logins(currLogin)" raw="true">Login</span></li>
								</ul>
							</td>
						</tr>
					</span>
					<tr>
						<td><span jwcid="@Insert" value="message:WebLastLogin">Web
								Last Login</span></td>
						<td colspan="3">
							<ul>
								<li jwcid="webLoginsList"><span jwcid="@Insert"
									value="ognl:webLogins(currWebLogin)" raw="true">Login</span></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Status">Status</span>
						</td>
						<td><span jwcid="status">Status</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Balance">Balance</span>
						</td>
						<td><span jwcid="balance">Balance</span></td>
					</tr>
					<tr>
						<td><span jwcid="@Insert" value="message:Earnings" /></td>
						<td><span jwcid="@Insert"
							value="ognl:formatCurrency(earnings)" /></td>
					</tr>
					<span jwcid="@If"
						condition="ognl:userDetails.userTypeEnum == @com.magneta.casino.services.enums.UserTypeEnum@CORPORATE_ACCOUNT"
						renderTag="false">
						<tr>
							<td><span jwcid="@Insert" value="message:rate" /></td>
							<td><span jwcid="affiliateRate">Affiliate Rate</span> %</td>
						</tr>
					</span>
					<tr>
						<td><span jwcid="@Insert" value="message:UserType">User
								Type</span></td>
						<td><span jwcid="@Insert"
							value="ognl:getMsg(userDetails.userTypeEnum)"> </span></td>
					</tr>
				</table>
			</td>


			<td>&nbsp;</td>
			<td><span jwcid="@If"
				condition="ognl:userDetails.userTypeEnum == @com.magneta.casino.services.enums.UserTypeEnum@CORPORATE_PLAYER"
				renderTag="false">
					<h2>
						<span jwcid="@Insert" value="message:LastGamingActivity">Last
							30 Days Gaming Activity</span>
					</h2>
					<table class="dataTable">
						<tr>
							<td><span jwcid="@Insert" value="message:Rounds" /></td>
							<td><span jwcid="@Insert" value="ognl:rounds" /></td>
						</tr>
						<tr>
							<td><span jwcid="@Insert" value="message:Bets" /></td>
							<td><span jwcid="@Insert" value="ognl:formatAmount(bets)" /></td>
						</tr>
						<tr>
							<td><span jwcid="@Insert" value="message:Wins" /></td>
							<td><span jwcid="@Insert" value="ognl:formatAmount(wins)" /></td>
						</tr>
						<tr>
							<td><span jwcid="@Insert" value="message:JackpotWins" /></td>
							<td><span jwcid="@Insert"
								value="ognl:formatAmount(jackpotWins)" /></td>
						</tr>
					</table>
			</span></td>
	</table>

	<fieldset style="display: inline;">
		<legend>
			<strong> <span jwcid="@Insert" value="message:Tasks" /></strong>
		</legend>
		<table>
			<tr>
				<td valign="top">
					<table>
						<tr>
							<td>
								<h3>Account</h3>
							</td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<span jwcid="@If"
							condition="ognl:userDetails.userTypeEnum == @com.magneta.casino.services.enums.UserTypeEnum@CORPORATE_ACCOUNT"
							renderTag="false">
							<tr>
								<td><a jwcid="editPartnerLink"><span jwcid="@Insert"
										value="message:EditSettings">Edit</span></a></td>
							</tr>
						</span>

						<tr>
							<td><a jwcid="editUserLink"><span jwcid="@Insert"
									value="message:Edit">Edit</span></a></td>
						</tr>
						<tr>
							<td><a jwcid="changeLink" href="ChangePassword"><span
									jwcid="@Insert" value="message:Change" /></a></td>
						</tr>
						<tr>
							<td><a jwcid="userActivateLink"><span
									jwcid="userActivateMsg">Activate</span></a></td>
						</tr>
						<tr>
							<td><a jwcid="closeLink"><span jwcid="@Insert"
									value="message:Close" /></a></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</fieldset>
</div>