@CHARSET "UTF-8";

body {
	background: #FFF;
	color: #333;
	font: 12px Verdana, Tahoma, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body a:visited {
	text-decoration: none;
	border: 0;
}

html,body {
	height: 100%;
}

p.clock {
	float: right;
	display: inline;
	padding: 5px 30px 0px 0px;
	margin: 0;
}

.container {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 81%;
	min-width: 800px;
	min-height: 600px;
}

.header {
	background: #d60024;
	color: #fff;
	min-height: 80px;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-style: italic;
}

.header img {
	padding-top: 10px;
	padding-left: 10px;
}

.header .left {
	margin: 4px 0 0 8px;
}

.header .right {
	margin: 4px 8px 0 0;
}

.header a {
	background: inherit;
	color: #fff;
	text-decoration: none;
}

.header h1,.header h2,.header h2 {
	margin: 0;
	padding: 5px;
	color: #bbb;
}

.header a:hover {
	text-decoration: underline;
}

.horizontal_nav ul,.horizontal_nav li {
	margin: 0;
	padding: 0;
}

.horizontal_nav {
	background: #200707;
	color: #666;
	font-size: 1em;
	height: 2em;
	width: 100%;
	display: table;
}

.horizontal_nav  li {
	float: left;
	list-style: none;
}

.horizontal_nav li a {
	background: inherit;
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #200707;
}

* html .horizontal_nav  a {
	width: 1%;
}

.horizontal_nav  .selected,.horizontal_nav a:hover {
	background-color: black;
	border: 1px solid gray;
	text-decoration: none;
}

.content {
	background: #fff;
	float: none;
	display: block;
	padding: 15px 10px 5px 25px;
	color: #000;
	overflow: auto;
}

.content h3 {
	color: inherit;
	font-size: 1.4em;
	margin: 0;
	padding: 10px 5px 0 0;
	text-align: left;
	background: inherit;
}

.content h4 {
	color: inherit;
	font-size: .8em;
	margin: 0;
	padding: 0 0 0 10px;
	font-weight: normal;
	background: inherit;
}

.content p {
	margin: 10px 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: inherit;
	color: inherit;
}

.content a {
	text-decoration: none;
}

.content a:hover {
	text-decoration: underline;
}

.vertical_nav {
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
	background-color: #ececec;
	margin: 0;
	padding: 5px 5px 5px 5px;
	float: left;
	height: 100%;
}

.vertical_nav ul {
	color: #333;
	list-style: none;
	padding: 0;
	margin: 0;
}

.vertical_nav li {
	padding: 0;
	margin: 0;
	background-color: #ececec;
	border-bottom: 1px dotted #666;
}

.vertical_nav li a {
	color: #000;
	text-decoration: none;
	font-size: 1em;
	display: block;
	padding: 2px 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background: inherit;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

.vertical_nav li a:hover {
	background-color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.vertical_nav li.menu_seperator {
	padding-left: 2px;
	border: 0;
}

.activeLink {
	font-weight: bold;
}

.vertical_nav h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 2px 15px;
}

.vr_menu li.col ul {
	display: none;
	padding: 0;
	margin: 0;
}

.vr_menu_sub1 li {
	padding-left: 10px;
	background: #f5f5f5;
	border-bottom: 1px solid #CCCCCC;
}

.dataTable {
	border: 1px solid #CCCCCC;
}

.dataTable th {
	background: #aaa;
	border: 0;
	border: 1px outset #666;
}

.dataTable th * {
	background: #aaa;
	padding: 0;
	margin: 0;
}

.dataTable tr {
	background: #f5f5f5;
}

.dataTable tr.odd,tr.true {
	background: #CCCCCC;
}

table.cardsTable {
	border-collapse: collapse;
	border-spacing: 0px;
}

td.cardsColumn {
	padding-left: 0px;
	padding-right: 0px;
}

.footer {
	background-color: #200707;
	clear: both;
	color: #fff;
	font-size: .9em;
	min-height: 1.8em;
	line-height: 1.8em;
	padding: 0;
	text-align: center;
}

.footer a {
	background: inherit;
	color: #fff;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .left {
	margin: 0 0 0 8px;
}

.footer .right {
	margin: 0 8px 0 0;
}

.fieldMissing {
	background: #bedef4;
}

.fieldInvalid {
	background: #ffaf7e;
	font-weight: bold;
}

.alertButton {
	width: auto;
	border: none;
	background-color: #699ED9;
	color: #fff;
	padding: 0.1em;
	border-bottom: 1px solid #5885b6 !important;
	border-right: 1px solid #5885b6 !important;
	border-top: 1px solid #92b8e2 !important;
	border-left: 1px solid #92b8e2 !important;
	cursor: pointer;
}

.alertDialog {
	width: 30em;
	border: 2px solid #ff660a;
	padding: 1em;
	background: #ffffff;
	-moz-border-radius: 10px;
}

.alertContent .alertButton {
	float: right;
	position: relative;
	bottom: 1em;
}

.missingList,.invalidList {
	padding-bottom: 0.6em;
	padding-top: 0.2em;
	padding-left: 0.1em;
	padding-right: 0.2em;
	margin: 0;
}

.missingList {
	border-top: 4px solid #bedef4;
}

.invalidList {
	border-top: 4px solid #ffaf7e;
}

.missingList li,.invalidList li {
	list-style: none;
	font-style: italic;
}

.menu_listing .col ul,.menu_listing .exp ul {
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 20px;
}

.menu_listing li {
	background: white;
	border: 0;
}

.errorMessage {
	color: red;
}

.successMessage {
	color: green;
}

/* vertical menu bar */
ul.mbv {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
}

ul.mbv li {
	padding: 0;
	margin: 0;
	position: relative;
	width: 150px;
	z-index: 1;
}

ul.mbv ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0; /* if using borders, -1 to align top borders */
	left: 150px;
	width: 154px;
	background: #ececec;
	border: 1px solid black;
	z-index: 2;
}

ul.mbv ul li {
	padding: 0;
	margin: 0;
	position: relative;
	width: 150px;
	z-index: 3;
}

ul.mbv ul li a {
	margin: 0;
	padding: 5px 2px 5px 2px;
	min-width: 150px;
}

td.UBalanceColumnValue {
	font-weight: bold;
}

td.UUsernameColumnValue {
	font-weight: bold;
}

/*
* Used in TransferFunds
*/
tr.highlight {
	background: yellow;
}