<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="editGameForm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<p><span jwcid="@Insert" value="message:Username"/>:<span jwcid="@Insert" value="ognl:username"/></p>
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:Game">Game</span></td>
				<td><select jwcid="game">
						<option>Blackjack</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:MinBet">Minimum Bet</span></td>
				<td><input type="text" jwcid="minBetField" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:MaxBet">Maximum Bet</span></td>
				<td><input type="text" jwcid="maxBetField" size="9"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="updateSubmit" type="submit" value="message:Add"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>