<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="addFundsForm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span>&nbsp;<span jwcid="@Insert" value="ognl:username">Username</span></h2>
		<table class="formTable">	
			<tr>
				<td><span jwcid="@Insert" value="message:Amount">Amount</span></td>
				<td><input type="text" jwcid="amountField" size="20"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:Description">Description</span></td>
				<td><textarea type="text" rows="4" cols="30" jwcid="desc"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK" />
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)" />
				</td>
			</tr>
		</table>
	</form>
</div>