<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="ognl:pageTitle">Page Title</span></h2>
				
	<table jwcid="logTable" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<span jwcid="DateColumnValue@Block">
		<span jwcid="changeDate"/>
	</span>
				
	<span jwcid="ChangedColumnValue@Block">
		<!--<span jwcid="fieldDescription"/>-->
		<span jwcid="@If" condition="ognl:affRate.equals(currChange.changed)" renderTag="false">
			<span jwcid="@Insert" value="message:affiliateRate"/>
		</span>
		<span jwcid="@Else" renderTag="false">
			<span jwcid="@If" condition="ognl:position.equals(currChange.changed)" renderTag="false">
				<span jwcid="@Insert" value="message:positionDesc"/>
			</span>
			<span jwcid="@Else" renderTag="false">
				<span jwcid="@If" condition="ognl:subLevels.equals(currChange.changed)" renderTag="false">
					<span jwcid="@Insert" value="message:subLevels"/>
				</span>
				<span jwcid="@Else" renderTag="false">
					<span jwcid="@If" condition="ognl:signedContract.equals(currChange.changed)" renderTag="false">
					<span jwcid="@Insert" value="message:contractSigned"/>
				</span>
				<span jwcid="@Else" renderTag="false">
					<span jwcid="@If" condition="ognl:reqApproval.equals(currChange.changed)" renderTag="false">
						<span jwcid="@Insert" value="message:requireApproval"/>
					</span>
					<span jwcid="@Else" renderTag="false">
						<span jwcid="@If" condition="ognl:reqSuperApproval.equals(currChange.changed)" renderTag="false">
							<span jwcid="@Insert" value="message:requiresSuperApproval"/>
						</span>
						<span jwcid="@Else" renderTag="false">
							<span jwcid="@If" condition="ognl:affType.equals(currChange.changed)" renderTag="false">
								<span jwcid="@Insert" value="message:affiliateType"/>
							</span>
							<span jwcid="@Else" renderTag="false">
								<span jwcid="@If" condition="ognl:cheque.equals(currChange.changed)" renderTag="false">
									<span jwcid="@Insert" value="message:chequeName"/>
								</span>
								<span jwcid="@Else" renderTag="false">
									<span jwcid="@If" condition="ognl:paymentType.equals(currChange.changed)" renderTag="false">
										<span jwcid="@Insert" value="message:paymentType"/>
									</span>
									<span jwcid="@Else" renderTag="false">
										<span jwcid="@If" condition="ognl:approved.equals(currChange.changed)" renderTag="false">
											<span jwcid="@Insert" value="message:approvedDesc"/>
										</span>
										<span jwcid="@Else" renderTag="false">
											<span jwcid="@If" condition="ognl:creditsRate.equals(currChange.changed)" renderTag="false">
												<span jwcid="@Insert" value="message:freeCreditsRate"/>
											</span>
											<span jwcid="@Else" renderTag="false">
												<span jwcid="@If" condition="ognl:fullFreeCredits.equals(currChange.changed)" renderTag="false">
													<span jwcid="@Insert" value="message:allowFullFreeCredits"/>
												</span>
												<span jwcid="@Else" renderTag="false">
													<span jwcid="@If" condition="ognl:freeCredits.equals(currChange.changed)" renderTag="false">
														<span jwcid="@Insert" value="message:allowFreeCredits"/>
													</span>
													<span jwcid="@Else" renderTag="false">
														<span jwcid="@If" condition="ognl:creditLimit.equals(currChange.changed)" renderTag="false">
															<span jwcid="@Insert" value="message:creditLimit"/>
														</span>
														<span jwcid="@Else" renderTag="false">
															<span jwcid="@If" condition="ognl:website.equals(currChange.changed)" renderTag="false">
																<span jwcid="@Insert" value="message:webSite"/>
															</span>
															<span jwcid="@Else" renderTag="false">
																<span jwcid="@If" condition="ognl:company.equals(currChange.changed)" renderTag="false">
																	<span jwcid="@Insert" value="message:isCompany"/>
																</span>
																<span jwcid="@Else" renderTag="false">
																	<span jwcid="@If" condition="ognl:paymentPeriod.equals(currChange.changed)" renderTag="false">
																		<span jwcid="@Insert" value="message:paymentPeriod"/>
																	</span>
																	<span jwcid="@Else" renderTag="false">
																		<span jwcid="@Insert" value="message:unknown"/>
																	</span>
																</span>
															</span>
														</span>
													</span>
												</span>
											</span>
										</span>
									</span>
								</span>
							</span>
						</span>
					</span>
				</span>
			</span>
		</span>
	</span>
</span>
<br/>
<span jwcid="@If" condition="ognl:hasWriteAccess('AffiliateChanges')" renderTag="false">
	<form jwcid="clearForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:clear-msg"/></td>
				<td><span jwcid="maxDateField"/></td>
				<td><input type="submit" jwcid="okSubmit" value="message:OK"/></td>
			</tr>
		</table>
	</form>
</span>
				
<p>
	<a jwcid="@CasinoLink" href="userDetails" page="literal:UserDetails" parameters="ognl:userId">
		<span jwcid="@Insert" value="message:Back">Back</span>
	</a>
</p>
</div>