<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="ognl:gameName">Game</span>&nbsp;<span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	
	<table jwcid="tables" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<p><a jwcid="viewClosedLink" href="ClosedTables.html"><span jwcid="@Insert" value="message:ViewClosedTables"/></a></p>
	<p><a jwcid="gamesLink" href="Games"><span jwcid="@Insert" value="message:Games"/></a></p>
			
	<span jwcid="closeColumnHeader@Block">&nbsp;</span>
	<span jwcid="closeColumnValue@Block">
		<a jwcid="closeTableLink"><span jwcid="@Insert" value="message:Close">Close</span></a>
	</span>
		        
	<span jwcid="TableIdColumnValue@Block">
		<a jwcid="roundsLink"><span jwcid="tableId">0</span></a>
	</span>
	
	<span jwcid="OwnerColumnValue@Block">
		<a jwcid="ownerLink"></a>
	</span>
		        
	<span jwcid="editColumnHeader@Block">&nbsp;</span>
	<span jwcid="editColumnValue@Block">
		<a jwcid="editTableLink"><span jwcid="@Insert" value="message:Edit">Edit</span></a>
	</span>
</div>