<div jwcid="@Layout">
	<h2><span jwcid="gameName">Game</span>&nbsp;<span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table jwcid="tables" class="dataTable"><tr><td>Table here</td></tr></table>
	<p><a jwcid="backLink" href="AvailableTables.html"><span jwcid="@Insert" value="message:Back"/></a></p>
	<p><a jwcid="gamesLink" href="Games"><span jwcid="@Insert" value="message:Games"/></a></p>
		        
	<span jwcid="TableIdColumnValue@Block">
		<a jwcid="roundsLink"><span jwcid="tableId">0</span></a>
	</span>
	
	<span jwcid="OwnerColumnValue@Block">
		<a jwcid="ownerLink">Owner</a>
	</span>
</div>
