<div jwcid="@Layout">
	<form jwcid="affForm">
		<input jwcid="superCorporate" type="hidden"/>
		<input jwcid="superCorpUsernameField" type="hidden"/>
		<table>
			<tr><td><span jwcid="@Insert" value="message:username"/></td><td><input type="checkbox" jwcid="usernameField" /></td></tr>
			<tr><td><span jwcid="@Insert" value="message:email"/></td><td><input type="checkbox" jwcid="emailField" /></td></tr>
			<tr><td><span jwcid="@Insert" value="message:country"/></td><td><select jwcid="countryField"></select></td></tr>
			<tr><td><span jwcid="@Insert" value="message:ShowInactive"/></td><td><input type="checkbox" jwcid="showInactive" /></td></tr>
			<tr><td><input type="submit" jwcid="updateSubmit" value="message:Update"/></td></tr>
		</table>
	</form>
	<hr/>
	<h2><span jwcid="titleMsg">Corporate Accounts</span></h2>
	<table jwcid="corporates" class="dataTable">
		<tr>
			<td>Table Here</td>
		</tr>
	</table>
				
	<span jwcid="AffiliateBalanceColumnValue@Block">
		<span jwcid="affiliateBalance">0.00</span>
	</span>
		
	<span jwcid="DepositColumnValue@Block">
		<span jwcid="affiliateDeposit">0.00</span>
	</span>
				
	<span jwcid="AffiliateRateColumnValue@Block">
		<span jwcid="affiliateRate">100</span>
	</span>
				
	<span jwcid="LastPaymentColumnValue@Block">
		<span jwcid="lastPayment">01-01-2008</span>
	</span>
		
	<span jwcid="transferEarningsColumnHeader@Block"></span>
		 	
	<span jwcid="transferEarningsColumnValue@Block">
		<a jwcid="transfer2BalanceLink" href="PayCorporate.html"><span jwcid="transfer2BalanceMsg" style="font-weight:bold;color:red;">Transfer Earnings To Balance</span></a>
	</span>
				
	<span jwcid="editColumnHeader@Block"></span>
			 	
	<span jwcid="editColumnValue@Block">
		<a jwcid="editLink" href="EditPartner.html"><span jwcid="@Insert" value="message:Edit">Edit</span></a>
	</span>
				
	<span jwcid="changesColumnHeader@Block"></span>
			 	
	<span jwcid="changesColumnValue@Block">
		<a jwcid="changeLink" href="partner_chnages.html"><span jwcid="@Insert" value="message:Changes">Changes</span></a>
	</span>
				
	<span jwcid="subsColumnHeader@Block"></span>
	<span jwcid="usersColumnHeader@Block"></span>
				 	
	<span jwcid="subsColumnValue@Block">
		<span jwcid="@If" condition="ognl:currAffiliate.hasSubCorps" renderTag="false">
			<a jwcid="viewSubsLink" href="CorporateAccounts.html"><span jwcid="@Insert" value="message:SubAccounts">Sub-Account</span></a>
		</span>
	</span>
				
	<span jwcid="usersColumnValue@Block">
		<span jwcid="@If" condition="ognl:currAffiliate.hasUsers" renderTag="false">
			<a jwcid="viewUsersLink" href="PartnerUsers.html"><span jwcid="@Insert" value="message:Users">Users</span></a>
		</span>
	</span>
				
	<span jwcid="UsernameColumnValue@Block">
		<a jwcid="usernameLink" style="ognl:(currAffiliate.active? '' : 'text-decoration:line-through;font-weight:italic;')"></a>
	</span>
				
	<span jwcid="@If" condition="ognl:hasWriteAccess('CreateSubPartner')" renderTag="false">
		<p>
			<a jwcid="createCorpLink" href="CreateSubPartner.html"><span jwcid="@Insert" value="message:CreateCorporate">Create New Corporate</span></a>
		</p>
	</span>
				
	<span jwcid="@If" condition="ognl:hasWriteAccess('CreateSubPartner')" renderTag="false">
		<span jwcid="@If" condition="ognl:superCorp > 0" renderTag="false">
			<p><a jwcid="createSubLink" href="CreateSubPartner.html"><span jwcid="@Insert" value="message:CreateSubAccount">Create Sub-Account</span></a></p>
		</span>
	</span>
</div>