<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Partner Applications</span></h2>
			
	<ul jwcid="@If" condition="ognl:noticeMsg != null" renderTag="ognl:noticeMsg != null" class="errorMessage">
		<li jwcid="noticeMsg@Insert" value="ognl:noticeMsg">Notice Msg</li>
	</ul>
				
	<table jwcid="affiliateApplicants" class="dataTable">
		<tr>
			<td>Table Here</td>
		</tr>
	</table>

	<span jwcid="UsernameColumnValue@Block">
		<a jwcid="usernameLink"></a>
	</span>
					
	<span jwcid="AppliedColumnValue@Block">
		<span jwcid="appliedDate">01-01-2008</span>
	</span>
				 	
	<span jwcid="examineColumnHeader@Block"></span>
				 	
	<span jwcid="examineColumnValue@Block">
		<a jwcid="examineLink"><span jwcid="@Insert" value="message:Examine">Examine</span></a>
	</span>
				
	<span jwcid="AccountTypeColumnValue@Block">
		<span jwcid="@Insert" value="Corporate"/>
	</span>
</div>