<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<p><span jwcid="@Insert" value="message:Username">Username</span>:<span jwcid="@Insert" value="ognl:username"/></p>
				
	<table jwcid="settings" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<span jwcid="editColumnHeader@Block"></span>
	<span jwcid="editColumnValue@Block">
		<a jwcid="editLink"><span jwcid="@Insert" value="message:Edit">Edit</span></a>
	</span>
				
	<span jwcid="deleteColumnHeader@Block"></span>
	<span jwcid="deleteColumnValue@Block">
		<a jwcid="deleteLink"><span jwcid="@Insert" value="message:Delete">Delete</span></a>
	</span>
			    
	<span jwcid="MinBetColumnValue@Block">
		<span jwcid="minBet">0.00</span>
	</span>
			    
	<span jwcid="MaxBetColumnValue@Block">
	    <span jwcid="maxBet">0.00</span>
	</span>
				
	<p><a href="AddCorporateSettings.html" jwcid="addLink"><span jwcid="@Insert" value="message:AddSettings">Add Settings</span></a></p>
	<p>
		<a jwcid="@CasinoLink" href="userDetails" page="literal:UserDetails" parameters="ognl:userId">
			<span jwcid="@Insert" value="message:Back">Back</span>
		</a>
	</p>
</div>