<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<form jwcid="createPaymentTypeForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:payment-type">Payment Type</span></td>
				<td>
				<select jwcid="paymentType@PropertySelection" value="ognl:paymentType" 
					model="ognl:paymentTypeNamesModel" disabled="ognl:!allowWrite()"
					validators="validators:required">
				</select>
				</td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:min-Deposit"></span></td>
				<td><input type="text" jwcid="minDeposit"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:min-withdrawal"></span></td>
				<td><input type="text" jwcid="minWithdrawal"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:deposit-fee"></span></td>
				<td><input type="text" jwcid="depositFee"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:deposit-rate"></span></td>
				<td><input type="text" jwcid="depositFeeRate"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:withdrawal-fee"></span></td>
				<td><input type="text" jwcid="withdrawalFee"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:withdrawal-rate"></span></td>
				<td><input type="text" jwcid="withdrawalFeeRate"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:enabled"></span></td>
				<td><input type="checkbox" jwcid="enabled"/></td>
			</tr>
			<tr>
				<td>
					<input jwcid="createButton" type="submit" value="message:Create" />
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>