<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="registerForm">
		<input type="hidden" jwcid="superPartner"/>
		<h2><span jwcid="titleMsg">Page Title</span></h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="usernameLabel">Username</span></td>
				<td><input type="text" jwcid="username" /></td>
			</tr>
			<tr>
				<td><span jwcid="passwordLabel">Password</span></td>
				<td><input type="password" jwcid="password" /></td>
			</tr>
			<tr>
				<td><span jwcid="passwordConfirmLabel">Password</span></td>
				<td><input type="password" jwcid="passwordConfirm" /></td>
			</tr>			
			<tr>
				<td><span jwcid="firstNameLabel">First Name</span></td>
				<td><input type="text" jwcid="firstName" /></td>
			</tr>
			<tr>
				<td><span jwcid="middleNameLabel">Middle Name</span></td>
				<td>
					<input type="text" jwcid="middleName" />
				</td>
			</tr>
			<tr>
				<td><span jwcid="lastNameLabel">Last Name</span></td>
				<td>
					<input type="text" jwcid="lastName" />
				</td>
			</tr>
			<tr>
				<td><span jwcid="townLabel">Town/City</span></td>
				<td><input type="text" jwcid="town" /></td>
			</tr>
			<tr>
				<td><span jwcid="postCodeLabel">Postal Code</span></td>
				<td><input type="text" jwcid="postCode" /></td>
			</tr>
			<tr>
				<td><span jwcid="regionLabel">State/Region</span></td>
				<td><input type="text" jwcid="region" /></td>
			</tr>
			<tr>
				<td><span jwcid="countryLabel">Country</span></td>
				<td><select jwcid="country">
						<option value="CY">Cyprus</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><span jwcid="zoneLabel">Time Zone</span></td>
				<td><select jwcid="zone">
						<option value="UTC">UTC</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><span jwcid="phoneLabel">Phone</span></td>
				<td><input type="text" jwcid="phone" /></td>
			</tr>
			<tr>
				<td><span jwcid="emailLabel">E-mail</span></td>
				<td><input type="text" jwcid="email" /></td>
			</tr>
			
		<tr>
			<td><span jwcid="affiliateRateLabel">Sub-Affiliate Rate</span></td>
			<td><input type="text" jwcid="affiliateRate" size="9"/>%</td>
		</tr>
		<tr>
			<td><span jwcid="paymentPeriodLabel">Payment Period</span></td>
			<td><select jwcid="paymentPeriod">
					<option>1 month</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td><span jwcid="allowFreeCreditsCBLabel">Allow Free Credits</span></td>
				<td><input jwcid="allowFreeCreditsCB" type="checkbox"/></td>
		</tr>
		<tr>
			<td><span jwcid="allowFullFreeCreditsCBLabel">Allow Free Credits on All Games</span></td>
			<td><input jwcid="allowFullFreeCreditsCB" type="checkbox"/></td>
		</tr>
		<tr>
			<td><span jwcid="requireApprovalCBLabel">Require approval</span></td>
			<td><input jwcid="requireApprovalCB" type="checkbox"/></td>
		</tr>
		<tr>
			<td><span jwcid="requireSuperLabel">Req super</span></td>
			<td><input type="checkbox" jwcid="requireSuper" /></td>
		</tr>
		<tr>
			<td><span jwcid="subLevelsLabel">Levels</span></td>
			<td><input jwcid="subLevels" type="text" size="4"/></td>
		</tr>
		<span jwcid="@If" condition="ognl:superPartner < 1" renderTag="false">
			<tr>
				<td><span jwcid="freeCreditsRateLabel">Free Credits Rate</span></td>
				<td><input jwcid="freeCreditsRate" type="text" size="9"/>%</td>
			</tr>
		</span>
		<tr>
			<td></td>
			<td>
				<input jwcid="registerSubmit" type="submit" value="message:Create" />
				<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
			</td>
		</tr>
	</table>
</form>
</div>