<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="createJackpotFrm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<table class="formTable">
			<tr>
				<td>
					<input type="hidden" jwcid="game"/>
					<input type="hidden" jwcid="corp"/>
					<input type="hidden" jwcid="jackpotBetType"/>
					<input type="hidden" jwcid="jackpotType"/>
				</td>
			</tr>
			<tr>
				<td><span jwcid="initialAmountLabel">Initial Amount</span></td>
				<td><input type="text" jwcid="initialAmount" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="maxAmountLabel">Maximum Amount</span></td>
				<td><input type="text" jwcid="maxAmount" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="payTimesLabel">Times To Pay</span></td>
				<td><input type="text" jwcid="payTimes" size="4"/></td>
			</tr>
			<tr>
				<span jwcid="@If" condition="ognl:mysteryJackpotAllowed && jackpotAllowed" renderTag="false">
					<td><span jwcid="mysteryCBLabel"></span></td>
					<td><input type="checkbox" jwcid="mysteryCB"/></td>
	
				</span>
				<span jwcid="@Else" renderTag="false">
					<td> <span jwcid="@Insert" value="message:mystery"/></td>
					<td><strong><span jwcid="@magneta:BooleanInsert" value="ognl:mysteryJackpotAllowed"/></strong></td>
				</span>
			</tr>
			<tr>
				<td><span jwcid="contribLabel">Contribution Rate</span></td>
				<td><input type="text" jwcid="contrib" size="9"/></td>
			</tr>
			<span jwcid="@If" condition="ognl:mysteryJackpotAllowed" renderTag="false">
				<tr>
					<td><span jwcid="drawNumberLabel">Draw Number</span></td>
					<td><input type="text" jwcid="drawNumber" size="9"/></td>
				</tr>
			</span>
			<tr>
				<td><span jwcid="minPayoutLabel">Minimum Payout</span></td>
				<td><input type="text" jwcid="minPayout" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="minJackpotBalanceLabel">Minimum Jackpot Balance To Pay</span></td>
				<td><input type="text" jwcid="minJackpotBalance" size="9"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="createSubmit" type="submit" value="message:Create"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>