<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<span jwcid="@Insert" value="message:DBMSVersion">DBMS Version</span>:&nbsp;<span jwcid="dbmsVersion">DBMS Version</span><br/>
	<span jwcid="@Insert" value="message:Size">Size</span>:&nbsp;<span jwcid="dbSize">0KB</span><br/>
	<span jwcid="@Insert" value="message:Uptime">Size</span>:&nbsp;<span jwcid="uptime">1 d</span><br/>
					
	<h3><span jwcid="@Insert" value="message:Replications">Page Title</span></h3>
				
	<span jwcid="@If" condition="ognl:ReplicationDBInfo.size() > 0" renderTag="false">
		<span jwcid="@Insert" value="message:ReplicatorModuleVersion">Replicator Module Version</span>:&nbsp;<span jwcid="repModuleVersion">Replicator Module Version</span><br/>
		<span jwcid="@Insert" value="message:ReplicatorSchemaVersion">Replicator Schema Version</span>:&nbsp;<span jwcid="repSchemaVersion">Replicator Schema Version</span><br/>
		<br/>
		<table class="dataTable">
			<tr><th><span jwcid="@Insert" value="message:Description">Description</span></th><th><span jwcid="@Insert" value="message:LagTime"></span></th></tr>
			<tr jwcid="replications">
				<td><span jwcid="description">Description</span></td>
				<td><span jwcid="lagTime">Lag Time</span></td>
			</tr>
		</table>
	</span>
	<span jwcid="@Else" renderTag="false">
		<span jwcid="@Insert" value="message:no-replications">No replications exist.</span>
	</span>
</div>