<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	
	<form jwcid="editSettingsForm">
			
		<fieldset jwcid="sections">
				<legend jwcid="@Insert" value="ognl:currSection.name" renderTag="true">section</legend>
				
				<fieldset jwcid="subSections">
					<legend jwcid="@Insert" value="ognl:currSubSection.name" renderTag="true">Sub-section</legend>
					
					<table class="formTable">
						<tr jwcid="settings">
							<td><span jwcid="@Insert" value="ognl:currSetting.description">Setting</span></td>
							<td>
								<span jwcid="@If" renderTag="false" condition="ognl:currSetting.type == @com.magneta.administration.beans.SystemSetting@BOOLEAN_VALUE">
									<input type="checkbox" jwcid="@Checkbox" value="ognl:currSetting.value" disabled="ognl:!allowWrite()"/>
								</span>
								<span jwcid="@Else" renderTag="false">
									<span jwcid="@If" renderTag="false" condition="ognl:currSetting.type == @com.magneta.administration.beans.SystemSetting@DOUBLE_VALUE || currSetting.type == @com.magneta.administration.beans.SystemSetting@INTEGER_VALUE || currSetting.type == @com.magneta.administration.beans.SystemSetting@LONG_VALUE">
										<input type="text" jwcid="@TextField" size="8" value="ognl:currSetting.value" displayName="ognl:currSetting.description" disabled="ognl:!allowWrite()"/>
									</span>
									<span jwcid="@Else" renderTag="false">
										<span jwcid="@If" renderTag="false" condition="ognl:currSetting.type == @com.magneta.administration.beans.SystemSetting@STRING_VALUE">
											<input type="text" jwcid="@TextField" size="42" value="ognl:currSetting.value" displayName="ognl:currSetting.description" disabled="ognl:!allowWrite()"/>
										</span>
										<span jwcid="@Else" renderTag="false">
											<span jwcid="@If" renderTag="false" condition="ognl:currSetting.type == @com.magneta.administration.beans.SystemSetting@PERCENTAGE_VALUE">
												<input type="text" jwcid="@TextField" size="5" value="ognl:currPercentage" displayName="ognl:currSetting.description" disabled="ognl:!allowWrite()"/>%
											</span>
											<span jwcid="@Else" renderTag="false">
												<span jwcid="@If" renderTag="false" condition="ognl:currSetting.type == @com.magneta.administration.beans.SystemSetting@COUNTRY_VALUE">
													<select jwcid="country@PropertySelection" value="ognl:currSetting.value" model="ognl:new com.magneta.administration.commons.models.CountrySelectionModel()" disabled="ognl:!allowWrite()">
													</select>
												</span>
												<span jwcid="@Else" renderTag="false">
													<span jwcid="@If" renderTag="false" condition="ognl:currSetting.type == @com.magneta.administration.beans.SystemSetting@MULTILINE_STRING_VALUE">
														<textarea jwcid="@TextArea" rows="6" cols="40" value="ognl:currSetting.value" displayName="ognl:currSetting.description" disabled="ognl:!allowWrite()"></textarea>
													</span>
												</span>
											</span>
										</span>							
									</span>
								</span>
							</td>
						</tr>
					</table>
				</fieldset>
		</fieldset>

		<table class="formTable">
			<tr>
				<td></td>
				<td>
					<input jwcid="updateSubmit" type="submit" value="message:Save"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>