<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<form jwcid="createRoleForm">
		<input type="hidden" jwcid="roleIDField"/>
		<input type="hidden" jwcid="roleDescription"/>
		<input type="hidden" jwcid="availablePrivileges"/>
		<table class="formTable">
			<tr>
				<td><span jwcid="descriptionLabel">Description</span></td>
				<td><input type="text" jwcid="description" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<table>
						<tr jwcid="availPrivilegesFor">
							<td>
								<span jwcid="@Insert" value="ognl:getMsg(currPrivilege.privilegeDesc)">Role</span>
							</td>
							<td>
								<span jwcid="availabilityRadios">
									<input type="radio" jwcid="notGrantedRadio" /><span jwcid="@Insert" value="message:NotGranted">Not Granted</span>
									<input type="radio" jwcid="readOnlyRadio" /><span jwcid="@Insert" value="message:ReadOnly">Read Only</span>
									<input type="radio" jwcid="readWriteRadio" /><span jwcid="@Insert" value="message:ReadAndWrite">Read And Write</span>
								</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input jwcid="updateSubmit" type="submit" value="message:Create"/>&nbsp;<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>