<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="registerForm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:Username">Username</span></td>
				<td><span jwcid="username"></span></td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td><span jwcid="affiliateRateLabel">Maximum Amount</span></td>
				<td><input type="text" jwcid="affiliateRate" size="9"/>%</td>
			</tr>
			<tr>
				<td><span jwcid="paymentPeriodLabel">Payment Period</span></td>
				<td><select jwcid="paymentPeriod">
						<option>1 month</option>
					</select>
				</td>
			</tr>

			<tr>
				<td><span jwcid="allowFreeCreditsCBLabel">Allow Free Credits</span></td>
				<td><input jwcid="allowFreeCreditsCB" type="checkbox"/></td>
			</tr>
			<tr>
				<td><span jwcid="allowFullFreeCreditsCBLabel">Allow Free Credits on All Games</span></td>
				<td><input jwcid="allowFullFreeCreditsCB" type="checkbox"/></td>
			</tr>
			<tr>
				<td><span jwcid="requireApprovalCBLabel">Require approval</span></td>
				<td><input jwcid="requireApprovalCB" type="checkbox"/></td>
			</tr>
			<tr>
				<td><span jwcid="requireSuperLabel">Req super</span></td>
				<td><input type="checkbox" jwcid="requireSuper" /></td>
			</tr>
			<tr>
				<td><span jwcid="subLevelsLabel">Levels</span></td>
				<td><input jwcid="subLevels" type="text" size="4"/></td>
			</tr>
			<tr>
					<td><span jwcid="freeCreditsRateLabel">Free Credits Rate</span></td>
					<td><input jwcid="freeCreditsRate" type="text" size="9"/>%</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="registerSubmit" type="submit" value="message:Update" />
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>