<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<span jwcid="errorDisplay" />

	<form jwcid="editForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:Username">Username</span></td>
				<td><span jwcid="@Insert" value="ognl:username">User</span></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:Balance">Balance</span></td>
				<td><span jwcid="balance">0.0</span></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:amount"/></td>
				<td><span jwcid="@Insert" value="ognl:formatAmount(amount)" /></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:NameOnAccount">Name On Cheque</span></td>
				<td><input type="text" size="30" jwcid="chequeName"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:AccountNo">Cheque No.</span></td>
				<td><input type="text" size="30" jwcid="chequeNo"/></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:Comment">Comment</span></td>
				<td><textarea type="text" rows="4" cols="30" jwcid="comment"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)" />
				</td>
			</tr>
		</table>
	</form>
</div>