<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="editGameForm">
		<h2><span jwcid="@Insert" value="ognl:gameName">Game</span>&nbsp;<span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="minBetLabel">Minimum Bet</span></td>
				<td><input type="text" jwcid="minBet" size="9"/></td>
				<td></td>
			</tr>
			<tr>
				<td><span jwcid="maxBetLabel">Maximum Bet</span></td>
				<td><input type="text" jwcid="maxBet" size="9"/></td>
				<td></td>
			</tr>
		</table>
		<table class="formTable">
			<th>
				<tr>
					<td><b>Setting</b></td>
					<td><b>Value</b></td>
					<td><b>Reset to default</b></td>
				</tr>
			</th>
			<tr jwcid="settings">
				<td><span jwcid="settingName">Setting</span></td>
				<td><span jwcid="@If" renderTag="false" condition="ognl:currSetting.settingType == @com.magneta.administration.beans.GameSetting@BOOLEAN_VALUE">
						<input type="checkbox" jwcid="@Checkbox" value="ognl:currSetting.settingValue" disabled="ognl:!allowWrite()"/>
					</span>
					<span jwcid="@Else" renderTag="false">
						<span jwcid="@If" renderTag="false" condition="ognl:currSetting.settingType == @com.magneta.administration.beans.GameSetting@DOUBLE_VALUE || currSetting.settingType == @com.magneta.administration.beans.GameSetting@INTEGER_VALUE">
							<input type="text" jwcid="@TextField" size="8" value="ognl:currSetting.settingValue" validators="validators:required" translator="bean:numTranslator" displayName="ognl:currSetting.settingName" disabled="ognl:!allowWrite()"/>
						</span>
						<span jwcid="@Else" renderTag="false">
							<span jwcid="@If" renderTag="false" condition="ognl:currSetting.settingType == @com.magneta.administration.beans.GameSetting@STRING_VALUE">
								<input type="text" jwcid="@TextField" size="12" value="ognl:currSetting.settingValue" validators="validators:required" displayName="ognl:currSetting.settingName" disabled="ognl:!allowWrite()"/>
							</span>
							<span jwcid="@Else" renderTag="false">
								<span jwcid="@If" renderTag="false" condition="ognl:currSetting.settingType == @com.magneta.administration.beans.GameSetting@PERCENTAGE_VALUE">
									<input type="text" jwcid="@TextField" size="5" value="ognl:currSetting.settingValue" validators="validators:required" translator="bean:numTranslator" displayName="ognl:currSetting.settingName" disabled="ognl:!allowWrite()"/>%
								</span>
								<span jwcid="@Else" renderTag="false">
									<span jwcid="@If" renderTag="false" condition="ognl:currSetting.settingType == @com.magneta.administration.beans.GameSetting@COUNTRY_VALUE">
										<select jwcid="country@PropertySelection" value="ognl:currSetting.settingValue" model="ognl:new com.magneta.administration.commons.models.CountrySelectionModel()" disabled="ognl:!allowWrite()">
										</select>
									</span>
								</span>
							</span>									
						</span>
					</span>
				</td>
				<td>
					<input type="checkbox" jwcid="@Checkbox" value="ognl:currSetting.resetToDefault" />
				</td>
			</tr>
			<tr>
				<td>
					<input jwcid="updateSubmit" type="submit" value="message:Update"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</form>
	<span jwcid="@If" condition="ognl:confApplicable" renderTag="false">
		<br/><a jwcid="viewConfigLink" href="GameConfigs.html"><span jwcid="@Insert" value="message:GameConfiguration">Configuration</span></a>
	</span>
</div>