<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<h1><span jwcid="@Insert" value="ognl:roleDesc"/></h1>
	
	<table jwcid="usersTable" class="dataTable"><tr><td>Table here</td></tr></table>		
	<span jwcid="deleteColumnHeader@Block">&nbsp;</span>
			
	<span jwcid="deleteColumnValue@Block">
       	<a jwcid="deleteUser"><span jwcid="@Insert" value="message:Remove"/></a>
	</span>
			
	<form jwcid="addUserForm" >
		<span jwcid="usernameLabel">Username</span>
		<input type="text" jwcid="username"/>
	    <input jwcid="addSubmit" type="submit" value="message:AddUser" />
	</form>
		        
	<p><a jwcid="backLink" href="roles_administration.html"><span jwcid="@Insert" value="message:Back">Back</span></a></p>
</div>