<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="editJackpotForm">
		<h2><span jwcid="titleMsg">Page Title</span></h2>
		<input type="hidden" jwcid="jackpotID"/>
		<input type="hidden" jwcid="gameID"/>
		<input type="hidden" jwcid="configID"/>
		<input type="hidden" jwcid="betTypeJackpot"/>
		<table class="formTable">
			<tr>
				<td><span jwcid="initialAmountLabel">Initial Amount</span></td>
				<td><input type="text" jwcid="initialAmount" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="maxAmountLabel">Maximum Amount</span></td>
				<td><input type="text" jwcid="maxAmount" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="payTimesLabel">Times To Pay</span></td>
				<td><input type="text" jwcid="payTimes" size="4"/></td>
			</tr>
			<tr>
				<span jwcid="@If" condition="ognl:jAllowed && mJAllowed" renderTag="false">
					<td><span jwcid="automaticCBLabel">Automatic</span></td>
					<td><input jwcid="automaticCB" type="checkbox"/></td>
				</span>
				<span jwcid="@Else" renderTag="false">
					<td> <span jwcid="@Insert" value="message:mystery"/> </td>
					<td><strong><span jwcid="@magneta:BooleanInsert" value="ognl:mystery"/></strong></td>
				</span>
			</tr>
			<tr>
				<td><span jwcid="contribLabel">Contribution Rate</span></td>
				<td><input type="text" jwcid="contrib" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="drawNumberLabel">Draw Number</span></td>
				<td><input type="text" jwcid="drawNumber" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="minPayoutLabel">Minimum Payout</span></td>
				<td><input type="text" jwcid="minPayout" size="9"/></td>
			</tr>
			<tr>
				<td><span jwcid="minJackpotBalanceLabel">Minimum Jackpot Balance To Pay</span></td>
				<td><input type="text" jwcid="minJackpotBalance" size="9"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="updateSubmit" type="submit" value="message:Update"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>