<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<span jwcid="errorDisplay"/>
	<form jwcid="editPaymentTypeForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="@Insert" value="message:payment-type">Payment Type</span></td>
				<td><strong><span jwcid="paymentType">Payment Type</span></strong></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:enabled"></span></td>
				<td><input type="checkbox" jwcid="enabled"/></td>
			</tr>
			<tr>
				<td>
					<input jwcid="submitButton" type="submit" value="message:Update" />
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>		
</div>