<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table class="formTable">
		<tr>
			<td colspan="2">
				<table class="dataTable">
					<tr>
						<td>
							<span jwcid="@Insert" value="message:Username">Username</span>
						</td>
						<td>
							<span jwcid="@Insert" value="ognl:username">Username</span>
						</td>
					</tr>
					<tr>
						<td>
							<span jwcid="@Insert" value="message:FirstName">First Name</span>
						</td>
						<td>
							<span jwcid="@Insert" value="ognl:firstName">First Name</span>
						</td>
					</tr>
					<tr>
		        		<td>
		        			<span jwcid="@Insert" value="message:MiddleName">Middle Name</span>
		        		</td>
		        		<td>
		        			<span jwcid="@Insert" value="ognl:middleName">Middle Name</span>
		        		</td>
		        	</tr>
		        	<tr>
		        		<td>
			       			<span jwcid="@Insert" value="message:LastName">Last Name</span>
			       		</td>
			      		<td>
			      			<span jwcid="@Insert" value="ognl:lastName">Last Name</span>
			       		</td>
			       	</tr>
			       	<tr>
			       		<td>
			       			<span jwcid="@Insert" value="message:ApplicationDate">Registered</span>
			       		</td>
			       		<td>
			       			<span jwcid="@Insert" value="ognl:formatDate(registerDate)">01/01/2006</span>
			       		</td>
			       	</tr>
			       	<tr>
			       		<td>
			       			<span jwcid="@Insert" value="message:Phone">Phone</span>
			       		</td>
			       		<td>
			       			<span jwcid="@Insert" value="ognl:phone">22000000</span>
			       		</td>
			       	</tr>
			       	<tr>
			       		<td>
			       			<span jwcid="@Insert" value="message:Email">Email</span>
			       		</td>
			       		<td>
			       			<span jwcid="@Insert" value="ognl:email">email@email.com</span>
			       		</td>
			       	</tr>
			       	<tr>
			       		<td>
			       			<span jwcid="@Insert" value="message:Town">Town</span>
			       		</td>
			       		<td>
			      			<span jwcid="@Insert" value="ognl:town">Town</span>
			       		</td>
			       	</tr>
			       	<tr>
				   		<td>
				   			<span jwcid="@Insert" value="message:Region">Region</span>
				   		</td>
				   		<td>
				   			<span jwcid="@Insert" value="ognl:region">Region</span>
				   		</td>
				   	</tr>
				   	<tr>
				   		<td>
				   			<span jwcid="@Insert" value="message:Country">Country</span>
				   		</td>
				   		<td>
				   			<span jwcid="@Insert" value="ognl:country">Country</span>
				   		</td>
				   	</tr>
				   	<tr>
				   		<td>
				   			<span jwcid="@Insert" value="message:hierarchy">Referrer</span>
				   		</td>
				   		<td>
				   			<span jwcid="@If" condition="ognl:corporateHierarchy != null" renderTag="false">
								<ol start="0">
				    				<span jwcid="hierarchyList">
										<li>
											<a jwcid="usernameLink"></a>
										</li>
									</span>
				     			</ol>
				     		</span>
					    </td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<form jwcid="approveAffiliateForm">
					<input type="hidden" jwcid="affiliateIDField"/>
						
					<table class="formTable">
						<tr><td></td></tr>
						<tr>
							<td><span jwcid="@Insert" value="ognl:getMsg('CorporateRate')">Affiliate Rate</span></td>
							<td><input type="text" jwcid="affiliateRateField" size="9"/>%</td>
						</tr>
						<tr>
							<td><span jwcid="@Insert" value="message:PaymentPeriod">Payment Period</span></td>
							<td><select jwcid="paymentPeriodField">
									<option>1 month</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td><span jwcid="@Insert" value="message:superRequired">Req super</span></td>
							<td><input type="checkbox" jwcid="requireSuper" /></td>
						</tr>
						<tr>
							<td>
								<input jwcid="okSubmit" type="submit" value="message:Approve"/>
							</td>
							<td>
								<input jwcid="cancelButton" type="button" label="message:Reject" onClick="tapestry.form.cancel(this.form)"/>
							</td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>		
	<a jwcid="backLink"><span jwcid="@Insert" value="message:Back">Back</span></a>
</div>