<div jwcid="@Layout">
	<form jwcid="gamesForm">
		<h2><span jwcid="clientDesc">Client name</span>&nbsp;<span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<table jwcid="gamesTable" class="dataTable"><tr><td>Table here</td></tr></table>
			
	   	<span jwcid="enabledColumnValue@Block">
	       	<input type="checkbox" jwcid="gameEnableCB"/>
	    </span>
	    <input type="submit" jwcid="saveSubmit" value="message:Save"/>&nbsp;<input type="button" jwcid="cancelButton" label="message:Cancel" onClick="tapestry.form.cancel(this.form);"/>
	</form>
</div>