<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
				
	<table jwcid="logTable" class="dataTable"><tr><td>Table here</td></tr></table>
			
	<span jwcid="DateColumnValue@Block">
		<span jwcid="date">01-01-2008</span>
	</span>
			
	<span jwcid="OldValueColumnValue@Block">
		<span jwcid="@If" condition="ognl:currChange.gameId > 0" renderTag="false">
			<a jwcid="viewOldLink" href="gameconfig/AbstractViewGameConfig.html"><span jwcid="@Insert" value="ognl:currChange.oldValue"/></a>
		</span>
		<span jwcid="@Else">
			<span jwcid="@Insert" value="ognl:currChange.oldValue"/>
		</span>
	</span>
			
	<span jwcid="NewValueColumnValue@Block">
		<span jwcid="@If" condition="ognl:currChange.gameId > 0" renderTag="false">
			<a jwcid="viewNewLink" href="gameconfig/AbstractViewGameConfig.html"><span jwcid="@Insert" value="ognl:currChange.newValue"/></a>
		</span>
		<span jwcid="@Else">
			<span jwcid="@Insert" value="ognl:currChange.newValue"/>
		</span>
	</span>
</div>