<div jwcid="@Layout">
	<span jwcid="errorDisplay" />
	<form jwcid="confirmForm">
		<table class="formTable">
			<tr>
				<td colspan="2">
					<span jwcid="@Insert" value="ognl:confirmMessage"></span>
				</td>
			</tr>
			<tr>
				<td>
					<input jwcid="confirmSubmit" type="Submit" value="message:Yes"/>
					&nbsp;
					<input jwcid="cancelButton" type="button" label="message:No" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>