<div jwcid="@Layout">
	<form jwcid="jackpotGameFrm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="typeLabel">Type</span></td>
				<td><select jwcid="type">
						<option>Game</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>