<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
			
	<table jwcid="logTable" class="dataTable"><tr><td>Table here</td></tr></table>
		
	<span jwcid="DateColumnValue@Block">
		<span jwcid="date">01-01-2008</span>
	</span>
		
	<span jwcid="PayCountColumnValue@Block">
		<span jwcid="payCount"/>
	</span>
		
	<span jwcid="InitialAmountColumnValue@Block">
		<span jwcid="initialAmount"/>
	</span>
	
	<span jwcid="BetContribColumnValue@Block">
		<span jwcid="betContrib"/>
	</span>
		
	<span jwcid="BetAmountColumnValue@Block">
		<span jwcid="betAmount"/>
	</span>
			
	<span jwcid="MaximumAmountColumnValue@Block">
		<span jwcid="maximumAmount"/>
	</span>
			
	<span jwcid="DrawNumberColumnValue@Block">
		<span jwcid="drawNumber"/>
	</span>
		
	<span jwcid="AutoColumnValue@Block">
		<span jwcid="auto"/>
	</span>
		
	<span jwcid="MinPayoutColumnValue@Block">
		<span jwcid="minPayout"/>
	</span>
				
	<span jwcid="MinJackpotBalColumnValue@Block">
		<span jwcid="minJackpotBal"/>
	</span>
</div>