<div jwcid="@Layout">	
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table jwcid="jackpotsTable" class="dataTable"><tr><td>Table here</td></tr></table>
		
	<span jwcid="UserIdColumnValue@Block">
		<a jwcid="userInfoLink"> </a>
	</span>
			
	<span jwcid="GameIdColumnValue@Block">
		<a jwcid="roundInfoLink"><span jwcid="gameId"/></a>
	</span>
			
	<p>
		<a jwcid="jackpotsLink" href="Jackpots.html"><span jwcid="@Insert" value="message:Jackpots">Jackpots</span></a>
	</p>
</div>