<div jwcid="@Layout">	
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<p>
		<span jwcid="@Insert" value="message:help">Help</span>
	</p>
	<span jwcid="errorDisplay" />
	<table jwcid="jackpotsTable" class="dataTable"><tr><td>Table here</td></tr></table>
					
	<span jwcid="MysteryColumnValue@Block">
		<span jwcid="@magneta:BooleanInsert" value="ognl: currJackpot.mystery"/>
	</span>
					
	<span jwcid="editColumnHeader@Block"></span>
	<span jwcid="editColumnValue@Block">
		<a jwcid="editJackpotLink"><span jwcid="@Insert" value="message:Edit"/></a>
	</span>
				
	<span jwcid="closeColumnHeader@Block"></span>
	<span jwcid="closeColumnValue@Block">
		<a jwcid="closeJackpotLink"><span jwcid="@Insert" value="message:Close"/></a>
	</span>
			
	<span jwcid="ContribRateColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currJackpot.contribRate)+' %'"/>
	</span>
			
	<p>
		<a jwcid="viewJackpotsLink" href="ViewJackpots.html"><span jwcid="@Insert" value="message:ViewJackpots">View Jackpots</span></a>
	</p>
				
	<p>
		<a jwcid="jackpotsPaidLink" href="JackpotWins.html"><span jwcid="@Insert" value="message:JackpotsPaid">Jackpots Paid</span></a>
	</p>
				
	<p>
		<a jwcid="jackpotChangesLink" href="JackpotPropertiesChanges.html"><span jwcid="@Insert" value="message:JackpotPropertiesChanges">Jackpot Properties Changes</span></a>
	</p>
				
	<span jwcid="@If" condition="ognl:hasWriteAccess('JackpotGameSelect')" renderTag="false">
		<p>
			<a jwcid="createJackpotLink" href="JackpotGameSelect.html"><span jwcid="@Insert" value="message:NewJackpot">New Jackpot</span></a>
		</p>
	</span>
</div>