<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<table jwcid="usersTable" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<span jwcid="UserIdColumnValue@Block">
		<span jwcid="@Insert" value="ognl:currUser.userId"/> - <a jwcid="userIdLink"></a>
	 </span>

	<span jwcid="disconnectColumnHeader@Block">
		&nbsp;
	</span>
				
	<span jwcid="disconnectColumnValue@Block">
		<a jwcid="disconnectLink"><span jwcid="@Insert" value="message:Disconnect">Disconnect</span></a>
	</span>
			
	<span jwcid="banColumnHeader@Block">
		&nbsp;
	</span>
				
	<span jwcid="banColumnValue@Block">
		<a jwcid="banLink"><span jwcid="@Insert" value="message:Ban">Ban</span></a>
	</span>
				
	<p>
		<a jwcid="backLink" href="SystemStatus.html"><span jwcid="@Insert" value="message:SystemStatus">System Status</span></a>
	</p>
</div>