<div jwcid="@Layout">
	<h2>
		<span jwcid="@If" condition="ognl:corpUsername == null || corpUsername.trim().equals('')" renderTag="false">
			<span jwcid="@Insert" value="message:page-title">Partner Users</span>
		</span>
		<span jwcid="@Else" renderTag="false">
			<span jwcid="@Insert" value="ognl:corpUsername"/>
			<span jwcid="@Insert" value="message:users"/>
		</span>					
	</h2>
	<table jwcid="users" class="dataTable">
		<tr>
			<td>Table Here</td>
		</tr>
	</table>
	<span jwcid="UsernameColumnValue@Block">
		<a jwcid="usernameLink" style="ognl:(currUser.active? '' : 'text-decoration:line-through;font-weight:italic;')"></a>
	</span>
</div>