<div jwcid="@Layout">
	<h2><span jwcid="titleMsg">Page Title</span></h2>
				
	<table jwcid="logTable" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<span jwcid="ChangeTimeColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatDate(currChange.changeTime)" />
	</span>
				
	<span jwcid="FieldColumnValue@Block">
		<span jwcid="@Insert" value="ognl:getMsg(currChange.field)" />
	</span>
				
	<p>
		<a jwcid="backLink"><span jwcid="@Insert" value="message:Back">Back</span></a>
	</p>
</div>