<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<span jwcid="errorDisplay"/>
	
	<form jwcid="payForm">
		<td><input type="hidden" jwcid="affiliateID"/></td>
		<table class="formTable">	
			<tr>
				<td><span jwcid="@Insert" value="message:Username">Username</span></td>
				<td><span jwcid="username">Username</span></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:Balance">Balance</span></td>
				<td><span jwcid="balance">0.00</span></td>
			</tr>
			<tr>
				<td><span jwcid="@Insert" value="message:Earnings">Earnings</span></td>
				<td><span jwcid="earnings">0.00</span></td>
			</tr>
			<tr>
				<td><span jwcid="amountLabel">Amount</span></td>
				<td><input type="text" jwcid="amount" size="20"/></td>
			</tr>
			<tr>
				<td><span jwcid="detailsLabel">Details</span></td>
				<td><textarea type="text" jwcid="details"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)" />
				</td>
			</tr>
		</table>
	</form>
</div>