<div jwcid="@Layout">	
	<span jwcid="result" class="errorMessage">Result</span>
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table jwcid="latestPayments" class="dataTable"><tr><td>Table here</td></tr></table>

	<span jwcid="TimeCompletedColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatDate(currPayment.timeCompleted)" />
	</span>
	<span jwcid="AmountColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currPayment.amount)" />
	</span>
	
	<span jwcid="PaymentMethodColumnValue@Block">
		<span jwcid="@Insert" value="ognl:getMsg(currPayment.PaymentMethod)"></span>	
	</span>
	
	<span jwcid="UserIdColumnValue@Block">
		<a jwcid="usernameLink"></a>
	</span>
	
	<span jwcid="TransactionIdColumnValue@Block">
		<span jwcid="@If" condition="principal.hasPrivilege(@com.magneta.casino.services.enums.PrivilegeEnum@FUNDS,true)" renderTag="false">
			<a jwcid="editTransactionLink"><span jwcid="@Insert" value="ognl:currPayment.transactionId"/></a>
		</span>
		<span jwcid="@Else" renderTag="false">
			<span jwcid="@Insert" value="ognl:currPayment.transactionId"/>
		</span>
	</span>
</div>