<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table jwcid="types" class="dataTable">
		<tr>
			<td>Table Here</td>
		</tr>
	</table>
	
	<span jwcid="PaymentTypeColumnValue@Block">
		<span jwcid="@Insert" value="ognl:getPaymentTypeName()"/>
	</span>
	
	<span jwcid="EnabledColumnValue@Block">
		<span jwcid="@magneta:BooleanInsert" value="ognl:currType.enabled"/>
	</span>
	
	<span jwcid="editColumnHeader@Block"/>
	
	<span jwcid="editColumnValue@Block">
		<a jwcid="editLink" href="EditPaymentType.html"><span jwcid="@Insert" value="message:Edit">Edit</span></a>
	</span>
	<p><a jwcid="createTypeLink" href="CreatePaymentType.html"><span jwcid="@Insert" value="message:createPaymentType">Create Payment Type</span></a></p>
</div>