<div jwcid="@Layout">	
	<span jwcid="result" class="errorMessage">Result</span>
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table jwcid="latestPayouts" class="dataTable"><tr><td>Table here</td></tr></table>
	<span jwcid="voidColumnHeader@Block">
		&nbsp;
	</span>
	<span jwcid="TimeCompletedColumnValue@Block">
		<span jwcid="timeCompleted"/>
	</span>
	<span jwcid="AmountColumnValue@Block">
		<span jwcid="amount"/>
	</span>
	<span jwcid="UserIdColumnValue@Block">
		<a jwcid="usernameLink"></a>
	</span>
		
	<span jwcid="TransactionIdColumnValue@Block">
		<span jwcid="@If" condition="ognl:principal.hasPrivilege(@com.magneta.casino.services.enums.PrivilegeEnum@FUNDS,true)" renderTag="false">
			<a jwcid="editTransactionLink"><span jwcid="@Insert" value="ognl:currPayout.transactionId"/></a>
		</span>
		<span jwcid="@Else" renderTag="false">
			<span jwcid="@Insert" value="ognl:currPayout.transactionId"/>
		</span>
	</span>
	<span jwcid="PaymentMethodColumnValue@Block">
		<span jwcid="@Insert" value="ognl:getMsg(currPayout.PaymentMethod)"></span>	
	</span>
</div>