<div jwcid="@Layout">
	<h2><span jwcid="username">Username</span>&nbsp;<span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
				
	<form jwcid="gameSelectForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="gameLabel">Game</span></td>
				<td><select jwcid="game">
						<option>Blackjack</option>
					</select>
				</td>
				<td>
					<input jwcid="searchSubmit" type="submit" value="message:Search" />
				</td>
			</tr>
		</table>
	</form>
	<br/>
		
	<span jwcid="@If" condition="ognl:getGameID() != 0" renderTag="false">		
		<table jwcid="playerHistory" class="dataTable"><tr><td>Table here</td></tr></table>
			
		<span jwcid="selectColumnHeader@Block">&nbsp;</span>
				
	   	<span jwcid="selectColumnValue@Block">
	       	<a jwcid="selectRound"><span jwcid="@Insert" value="message:ViewDetails">View Details</span></a>
	    </span> 
	</span>
	
    <p>
		<a jwcid="@CasinoLink" href="userDetails" page="literal:UserDetails" parameters="ognl:userId">
			<span jwcid="@Insert" value="message:Back">Back</span>
		</a>
	</p>
</div>