<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<span jwcid="errorDisplay"/>
	
	<form jwcid="registerServerForm">
		<table class="formTable">
			<tr>
				<td><span jwcid="serverIDLabel">Server ID</span></td>
				<td><input type="text" jwcid="serverID" size="5"/></td>
			</tr>
			<tr>
				<td><span jwcid="serverDescLabel">Server Description</span></td>
				<td><input type="text" jwcid="serverDesc"/></td>
			</tr>
			<tr>
				<td><span jwcid="localAddressLabel">Local Address</span></td>
				<td><input type="text" jwcid="localAddress"/></td>
			</tr>
			<tr>
				<td><span jwcid="localPortLabel">Local Port</span></td>
				<td><input type="text" jwcid="localPort" size="6"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK" />
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>