<div jwcid="@Layout">
			
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<span jwcid="errorDisplay"/>
	<table jwcid="rolesTable" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<span jwcid="deleteColumnHeader@Block">&nbsp;</span>
	<span jwcid="editColumnHeader@Block">&nbsp;</span>
	<span jwcid="editUsersColumnHeader@Block">&nbsp;</span>
			
   	<span jwcid="deleteColumnValue@Block">
       	<a jwcid="deleteRole"><span jwcid="@Insert" value="message:Delete" /></a>
    </span>
	        
    <span jwcid="editColumnValue@Block">
      	<a jwcid="editRole"><span jwcid="@Insert" value="message:Edit" /></a>
    </span>
		        
    <span jwcid="editUsersColumnValue@Block">
      	<a jwcid="editUsers"><span jwcid="@Insert" value="message:EditUsers"/></a>
    </span>
	        
    <span jwcid="@If" condition="ognl:hasWriteAccess('CreateRole')" renderTag="false">
      	<p><a jwcid="newRole" href="CreateRole.html"><span jwcid="@Insert" value="message:New"/></a></p>
    </span>
</div>