<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span>&nbsp;</h2>				
	<form jwcid="selectCorpForm">
		<table class="formTable">	
			<tr>
				<td><span jwcid="@Insert" value="message:corporate"/></td>
				<td>
					<select jwcid="corporate">
						<option>Corporate</option>
					</select>
				</td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK" />
				</td>
			</tr>
		</table>
	</form>
</div>