<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
				
	<table jwcid="logTable" class="dataTable"><tr><td>Table here</td></tr></table>
				
	<span jwcid="DateColumnValue@Block">
		<span jwcid="date">01-01-2008</span>
	</span>
	
	<span jwcid="UserIdColumnValue@Block">
		<span jwcid="userIdLink" />
	</span>
</div>