<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span> <span jwcid="@Insert" value="ognl:username"/></h2>
	<table jwcid="tables" class="dataTable"><tr><td>Table here</td></tr></table>
			
	<span jwcid="closeColumnHeader@Block">&nbsp;</span>
   	<span jwcid="closeColumnValue@Block">
   		<span jwcid="@If" condition="ognl:userHasTableWriteAccess()" renderTag="false">
       		<a jwcid="closeTableLink"><span jwcid="@Insert" value="message:Close">Close</span></a>
       	</span>
    </span>
	        
    <span jwcid="TableIdColumnValue@Block">
      	<span jwcid="@If" condition="ognl:userHasGameDetailsAccess()" renderTag="false">	        
       		<a jwcid="roundsLink"><span jwcid="tableId">0</span></a>
       	</span>
       	<span jwcid="@Else">
       		<span jwcid="@Insert" value="ognl:currTable.id"/>
       	</span>
    </span>
		        
	<span jwcid="GameNameColumnValue@Block">
	   	<span jwcid="@If" condition="ognl:userHasGameWriteAccess()" renderTag="false">
	   		<a span jwcid="gamePropsLink" href="EditGameProperties.html"> <span jwcid="@Insert" value="ognl:gameName"/> </a>
	   	</span>
	   	<span jwcid="@Else">
    		<span jwcid="@Insert" value="ognl:gameName"/>
		</span>
	</span>
		        
	<span jwcid="editColumnHeader@Block">&nbsp;</span>
	<span jwcid="editColumnValue@Block">
		<span jwcid="@If" condition="ognl:userHasTableWriteAccess()" renderTag="false">
	   		<a jwcid="editTableLink"><span jwcid="@Insert" value="message:Edit">Edit</span></a>
	   	</span>
	</span>
	
	<p>
		<a jwcid="@CasinoLink" href="userDetails" page="literal:UserDetails" parameters="ognl:userId">
			<span jwcid="@Insert" value="message:Back">Back</span>
		</a>
	</p>
	
</div>