<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:LatestUserGames">Latest User Games</span></h2>
	<table jwcid="lastGames" class="dataTable"><tr><td>Table here</td></tr></table>	
			
	<span jwcid="BetsColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currGame.bets)"/>		
	</span>
					     
	<span jwcid="WinsColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currGame.wins)"/>		
	</span>
	
	<span jwcid="RealBetsColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currGame.realBets)"/>		
	</span>	
	
	<span jwcid="RealWinsColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currGame.realWins)"/>		
	</span>				
					  
	<span jwcid="JackpotWinsColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatAmount(currGame.jackpotWins)"/>		
	</span>
</div>