<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
			
	<table jwcid="logTable" class="dataTable"><tr><td>Table here</td></tr></table>
			
	<span jwcid="ChangeTimeColumnValue@Block">
		<span jwcid="changeTime"/>
	</span>
				
	<span jwcid="UsernameColumnValue@Block">
		<span jwcid="username"/>
	</span>
			
	<span jwcid="PasswordColumnValue@Block">
		<span jwcid="password"/>
	</span>
		
	<span jwcid="EmailColumnValue@Block">
		<span jwcid="email"/>
	</span>
		
	<span jwcid="IsActiveColumnValue@Block">
		<span jwcid="isActive"/>
	</span>

	<span jwcid="FirstNameColumnValue@Block">
		<span jwcid="firstName"/>
	</span>
				
	<span jwcid="LastNameColumnValue@Block">
		<span jwcid="lastName"/>
	</span>
		
	<span jwcid="MiddleNameColumnValue@Block">
		<span jwcid="middleName"/>
	</span>
		
	<span jwcid="CountryColumnValue@Block">
		<span jwcid="country"/>
	</span>
	
	<span jwcid="PhoneColumnValue@Block">
		<span jwcid="phone"/>
	</span>
		
	<span jwcid="RegionColumnValue@Block">
		<span jwcid="region"/>
	</span>
		
	<span jwcid="TownColumnValue@Block">
		<span jwcid="town"/>
	</span>
	
	<span jwcid="PostalCodeColumnValue@Block">
		<span jwcid="postalCode"/>
	</span>
	
	<span jwcid="NicknameColumnValue@Block">
		<span jwcid="nickname"/>
	</span>
	
	<span jwcid="UserTypeColumnValue@Block">
		<span jwcid="userType"/>
	</span>
		
	<span jwcid="PostalAddressColumnValue@Block">
		<span jwcid="postalAddress"/>
	</span>
			
	<span jwcid="DateDeactivatedColumnValue@Block">
		<span jwcid="dateDeactivated"/>
	</span>
		
	<span jwcid="TimeZoneColumnValue@Block">
		<span jwcid="timeZone"/>
	</span>

	<span jwcid="ClosedColumnValue@Block">
		<span jwcid="closed"/>
	</span>
	<br/>
	<span jwcid="@If" condition="ognl:hasWriteAccess('UserChanges')" renderTag="false">
		<form jwcid="clearForm">
			<table class="formTable">
				<tr>
					<td><span jwcid="maxDateLabel"/></td>
					<td><span jwcid="maxDate"/></td>
					<td><input type="submit" jwcid="okSubmit" value="message:OK"/></td>
				</tr>
			</table>
		</form>
	</span>
			
	<p>
		<a jwcid="@CasinoLink" href="userDetails" page="literal:UserDetails" parameters="ognl:userId">
			<span jwcid="@Insert" value="message:Back">Back</span>
		</a>
	</p>
</div>