<div jwcid="@Layout">
	<h2><span jwcid="@Insert" value="ognl:getUsername(userId)"/>'s <span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
	<table jwcid="lastTransactions" class="dataTable"><tr><td>Table here</td></tr></table>

	<span jwcid="DateCompletedColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatDate(currTransaction.dateCompleted)"/>
	</span>
	
	 <span jwcid="TransactionTypeColumnValue@Block">
	 	<span jwcid="@Insert" value="ognl:currTransactionType">Type</span>
	 </span>
	
	<span jwcid="PaymentMethodColumnValue@Block">
		<span jwcid="@Insert" value="ognl:getMsg(currTransaction.paymentMethod)"/>
	</span>
	
	<span jwcid="AmountColumnValue@Block">
		<span jwcid="@Insert" value="ognl:formatCurrency(currTransaction.amount)"/>
	</span>
</div>