<div jwcid="@Layout">
	<form jwcid="viewGameForm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
		<table class="formTable">	
			<tr>
				<td><span jwcid="@Insert" value="message:GameID">Amount</span></td>
				<td><input type="text" jwcid="tableIDField" size="9"/>&nbsp;-&nbsp;<input type="text" jwcid="roundIDField" size="9"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="okSubmit" type="submit" value="message:OK" />
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)" />
				</td>
			</tr>
		</table>
	</form>
</div>