<div jwcid="@Layout">	
	<h2><span jwcid="@Insert" value="message:page-title">Page Title</span></h2>
				
	<form jwcid="jackpotsForm">
		<span jwcid="jackpotsRefreshTile"/>
		<table jwcid="jackpotsTable" class="dataTable"><tr><td>Table here</td></tr></table>
				
		<span jwcid="JackpotAmountStringColumnValue@Block">
			<input type="text" jwcid="jackpotAmount" readonly="true" size="10"/>
		</span>
				
		<span jwcid="TimesPaidColumnValue@Block">
			<input type="text" jwcid="paidTimes" readonly="true" size="6"/>
		</span>
				
		<span jwcid="JackpotIDColumnHeader@Block"></span>
				
		<span jwcid="JackpotIDColumnValue@Block">
			<input type="hidden" jwcid="jackpotID"/>
		</span>
					
		<span jwcid="adjustmentColumnValue@Block">
			<input type="text" jwcid="adjustmentAmount" size="10"/>
		</span>
					
		<p>
			<input jwcid="@Submit" type="submit" value="message:SaveAdjustments" disabled="ognl:!allowWrite()"/>
		</p>
	</form>
	<p>
		<a href="Jackpots.html" jwcid="jackpotPropertiesLink"><span jwcid="@Insert" value="message:JackpotProperties">Jackpot Properties</span></a>
	</p>
	<span jwcid="@Script" script="/ViewJackpots.script"/>		
</div>