<div jwcid="@Layout">
	<span jwcid="errorDisplay"/>
	<form jwcid="createConfigForm">
		<h2><span jwcid="@Insert" value="message:page-title">Page Title</span>&nbsp;<span jwcid="@Insert" value="message:For">For</span>&nbsp;<span jwcid="gameName">Game</span></h2>
		<table class="formTable">
			<tr>
				<td><span jwcid="commentLabel">Comment</span></td>
				<td><input type="text" jwcid="comment" size="55"/></td>
			</tr>
			<tr>
				<td valign="top"><span jwcid="@Insert" value="message:Payouts">Payouts</span></td>
				<td>
					<table>
						<span jwcid="combos">
							<span jwcid="@If" condition="ognl:currCombo.Updatable" renderTag="false">
								<tr>
									<td><span jwcid="@Insert" value="ognl:currCombo.details">Details</span></td>
									<td><input type="text" jwcid="comboPayout"/></td>
								</tr>
							</span>
						</span>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top"><span jwcid="@Insert" value="message:sidebet-payouts">Sidebet Payouts</span></td>
				<td>
					<table>
						<span jwcid="sideCombos">
							<span jwcid="@If" condition="ognl:currCombo.Updatable" renderTag="false">
								<tr>
									<td><span jwcid="@Insert" value="ognl:currCombo.details">Details</span></td>
									<td><input type="text" jwcid="sideComboPayout"/></td>
								</tr>
							</span>
						</span>
					</table>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input jwcid="saveSubmit" type="submit" value="message:Save"/>
					<input jwcid="cancelButton" type="button" label="message:Cancel" onClick="tapestry.form.cancel(this.form)"/>
				</td>
			</tr>
		</table>
	</form>
</div>